In [5]:
import pandas as pd
import numpy as np

In [16]:
# raw_score = pd.read_csv('D:/Projects/Stance/Evaluation/bert_dummy_output/test_raw_score.csv')
raw_score = pd.read_csv('D:/Jupyter/stance_code/Evaluation/bert_dummy_output/test_raw_score.csv')
# raw_score['prediction'] = [1 if raw_score.undermine_score < raw_score.support_score]
f = lambda x: 1 if x.undermine_score < x.support_score else 0
raw_score['prediction'] = raw_score.apply(f, axis=1)
raw_score[raw_score.prediction == 1]

      undermine_score  support_score  gold  prediction
0           -0.357119      -0.280110     0           1
1           -0.357118      -0.280107     1           1
2           -0.357119      -0.280110     1           1
3           -0.357119      -0.280110     1           1
4           -0.357116      -0.280102     1           1
...               ...            ...   ...         ...
2767        -0.357109      -0.280075     0           1
2768        -0.357109      -0.280077     0           1
2769        -0.357109      -0.280076     1           1
2770        -0.357109      -0.280077     1           1
2771        -0.357111      -0.280082     1           1

[2772 rows x 4 columns]

In [57]:
gold = pd.read_csv('D:/Projects/Stance/Dataset/test.tsv', sep='\t',header=None)
gold.columns=['original_label','x','y', 'claims','perpectives']
gold.drop([0],axis=0, inplace=True)
gold = gold.reset_index(drop=True)

In [72]:
result = pd.concat([gold,raw_score], axis=1)
result.drop(['x','y','original_label'],axis=1,inplace=True)
result = result.rename(columns={'gold':'gold_label'})

In [74]:
failed_result = result[result['predict_label']!=result['gold_label']]
failed_result_gold_1 = failed_result[failed_result['gold_label'] == 1]
failed_result_gold_0 = failed_result[failed_result['gold_label'] == 0]

In [83]:
# failed_result.to_csv('D:/Projects/Stance/Evaluation/Examples/failed.csv')
failed_result.to_excel('D:/Projects/Stance/Evaluation/Examples/failed.xlsx')

In [86]:
# failed_result_gold_1.to_csv('D:/Projects/Stance/Evaluation/Examples/failed_gold_1.csv')
failed_result_gold_1.to_excel('D:/Projects/Stance/Evaluation/Examples/failed_gold_1.xlsx')

In [89]:
# failed_result_gold_0.to_csv('D:/Projects/Stance/Evaluation/Examples/failed_gold_0.csv')
failed_result_gold_0.to_excel('D:/Projects/Stance/Evaluation/Examples/failed_gold_0.xlsx')