In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/bert_base_bs32_lr2e_5_epoch4_raw_score.csv")

In [10]:
df

      undermine_score  support_score  predict_label  gold
0           -3.120266       3.146689              1     1
1           -1.417848       1.625434              1     0
2           -2.544775       2.716588              1     1
3            0.655416      -0.446708              0     1
4            0.865310      -0.591936              0     1
...               ...            ...            ...   ...
2768        -3.130517       2.797219              1     0
2769         0.344362      -0.042596              0     0
2770         1.233127      -1.583184              0     1
2771         2.553239      -2.488668              0     1
2772         0.110734      -0.186051              0     1

[2773 rows x 4 columns]

In [33]:
recall = len(df[df.gold==1][df.predict_label==1])/(len(df[df.gold==1]))
recall

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7260367097212781

In [28]:
len(df[df.gold==0][df.predict_label==0])/(len(df[df.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7027649769585254

In [34]:
precision = len(df[df.gold==1][df.predict_label==1])/(len(df[df.predict_label==1]))
precision

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.734020618556701

In [32]:
2*(precision*recall)/(precision+recall)

0.7300068352699932

In [36]:
df_qua_cons = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/bert_sia_cos_bs24_lr2e_5_epoch25_raw_score.csv")

In [37]:
len(df_qua_cons[df_qua_cons.gold==1][df_qua_cons.predict_label==1])/(len(df_qua_cons[df_qua_cons.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.8048946295037389

In [38]:
len(df_qua_cons[df_qua_cons.gold==0][df_qua_cons.predict_label==0])/(len(df_qua_cons[df_qua_cons.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7772657450076805

In [3]:
df_stancy = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/non_reverse_bert_cons_epoch5_raw_score.csv")

In [4]:
len(df_stancy[df_stancy.gold==1][df_stancy.predict_label==1])/(len(df_stancy[df_stancy.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7858599592114208

In [5]:
len(df_stancy[df_stancy.gold==0][df_stancy.predict_label==0])/(len(df_stancy[df_stancy.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7211981566820277

In [6]:
df_ant = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/fuse_cosloss_1033033033_2e5_neg_siamese_bert_epoch50_raw_score.csv")

In [8]:
len(df_ant[df_ant.gold==1][df_ant.predict_label==1])/(len(df_ant[df_ant.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7766295707472178

In [9]:
len(df_ant[df_ant.gold==0][df_ant.predict_label==0])/(len(df_ant[df_ant.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7438811188811189

In [14]:
df_base_sub = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/onnew_neg_bert_base_raw_score.csv")

In [15]:
len(df_base_sub[df_base_sub.gold==1][df_base_sub.predict_label==1])/(len(df_base_sub[df_base_sub.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.6836248012718601

In [16]:
len(df_base_sub[df_base_sub.gold==0][df_base_sub.predict_label==0])/(len(df_base_sub[df_base_sub.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7097902097902098

In [17]:
df_stancy_sub = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/onnew_neg_bert_cons_epoch5_raw_score.csv")

In [18]:
len(df_stancy_sub[df_stancy_sub.gold==1][df_stancy_sub.predict_label==1])/(len(df_stancy_sub[df_stancy_sub.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7488076311605724

In [19]:
len(df_stancy_sub[df_stancy_sub.gold==0][df_stancy_sub.predict_label==0])/(len(df_stancy_sub[df_stancy_sub.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7482517482517482

In [3]:
df_qua_sub = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/new_neg_bert_sia_cos_bs24_lr2e_5_epoch30_raw_score.csv")

In [4]:
len(df_qua_sub[df_qua_sub.gold==1][df_qua_sub.predict_label==1])/(len(df_qua_sub[df_qua_sub.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7853736089030207

In [5]:
len(df_qua_sub[df_qua_sub.gold==0][df_qua_sub.predict_label==0])/(len(df_qua_sub[df_qua_sub.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7709790209790209

In [5]:
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

In [2]:
df = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/distance_concat_margin1_costriplet_cos_siamese_bs24_lr2e_5_epoch15_raw_score.csv")

In [3]:
df

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

In [43]:
f1_score(df.gold,df.predict_label)

0.8033536585365854

In [44]:
precision_score(df.gold,df.predict_label)

0.8132716049382716

In [45]:
recall_score(df.gold,df.predict_label)

0.7936746987951807

In [46]:
f1_score(df.gold,df.distance_label)

0.7849223946784921

In [47]:
precision_score(df.gold,df.distance_label)

0.7706821480406386

In [48]:
recall_score(df.gold,df.distance_label)

0.7996987951807228

In [11]:
df_consistency = df[df.predict_label==df.distance_label]

In [13]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

In [39]:
f1_score(df_consistency.gold,df_consistency.distance_label)

0.8353552859618716

In [40]:
precision_score(df_consistency.gold,df_consistency.distance_label)

0.8253424657534246

In [41]:
recall_score(df_consistency.gold,df_consistency.distance_label)

0.8456140350877193

In [14]:
df_inconsistency = df[df.predict_label!=df.distance_label]

In [15]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
59,6.975863,-2.372392,1.920776,1.928768,0,1,1
73,1.812300,-0.927047,1.096693,1.661179,0,1,1
78,2.363664,-1.478531,1.179334,1.422178,0,1,1
...,...,...,...,...,...,...,...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [21]:
accuracy_score(df_inconsistency.gold,df_inconsistency.predict_label)

0.5976331360946746

In [31]:
df_stancy =  pd.read_table("../stancy/paper_bert_dual_loss_15/eval_details.txt",header=None)

In [32]:
df_stancy

                                                0  1  2
0      [0.9985860586166382, 0.001413914724253118]  0  0
1     [0.0006979649187996984, 0.9993020296096802]  1  1
2     [0.9987192153930664, 0.0012808680767193437]  0  0
3     [0.9983559250831604, 0.0016440259059891105]  0  0
4      [0.9973260164260864, 0.002673997776582837]  0  0
...                                           ... .. ..
2768   [0.9971250891685486, 0.002874949248507619]  0  1
2769  [0.0006853992817923427, 0.9993146657943726]  1  1
2770    [0.03969154879450798, 0.9603084325790405]  1  0
2771  [0.0016762863378971815, 0.9983237385749817]  1  0
2772    [0.18177905678749084, 0.8182209134101868]  1  0

[2773 rows x 3 columns]

In [53]:
f1_score(df_stancy[1],df_stancy[2])

0.7776

In [51]:
precision_score(df_stancy[1],df_stancy[2])

0.7465437788018433

In [52]:
recall_score(df_stancy[1],df_stancy[2])

0.8113522537562604

In [50]:
df_stancy[df_stancy[1]==df_stancy[2]]

                                                0  1  2
0      [0.9985860586166382, 0.001413914724253118]  0  0
1     [0.0006979649187996984, 0.9993020296096802]  1  1
2     [0.9987192153930664, 0.0012808680767193437]  0  0
3     [0.9983559250831604, 0.0016440259059891105]  0  0
4      [0.9973260164260864, 0.002673997776582837]  0  0
...                                           ... .. ..
2763   [0.001166122849099338, 0.9988338351249695]  1  1
2764  [0.0010132481111213565, 0.9989867806434631]  1  1
2765  [0.0031348520424216986, 0.9968650937080383]  1  1
2766     [0.0007364643388427794, 0.9992635846138]  1  1
2769  [0.0006853992817923427, 0.9993146657943726]  1  1

[2217 rows x 3 columns]