In [1]:
import pandas as pd

## Bert Related Eval Results

In [2]:
df = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/bert_base_bs32_lr2e_5_epoch4_raw_score.csv")

In [3]:
df

      undermine_score  support_score  predict_label  gold
0           -3.120266       3.146689              1     1
1           -1.417848       1.625434              1     0
2           -2.544775       2.716588              1     1
3            0.655416      -0.446708              0     1
4            0.865310      -0.591936              0     1
...               ...            ...            ...   ...
2768        -3.130517       2.797219              1     0
2769         0.344362      -0.042596              0     0
2770         1.233127      -1.583184              0     1
2771         2.553239      -2.488668              0     1
2772         0.110734      -0.186051              0     1

[2773 rows x 4 columns]

In [4]:
recall = len(df[df.gold==1][df.predict_label==1])/(len(df[df.gold==1]))
recall

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7260367097212781

In [5]:
len(df[df.gold==0][df.predict_label==0])/(len(df[df.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7027649769585254

In [6]:
precision = len(df[df.gold==1][df.predict_label==1])/(len(df[df.predict_label==1]))
precision

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.734020618556701

In [7]:
2*(precision*recall)/(precision+recall)

0.7300068352699932

In [8]:
df_qua_cons = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/bert_sia_cos_bs24_lr2e_5_epoch25_raw_score.csv")

In [9]:
len(df_qua_cons[df_qua_cons.gold==1][df_qua_cons.predict_label==1])/(len(df_qua_cons[df_qua_cons.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.8048946295037389

In [10]:
len(df_qua_cons[df_qua_cons.gold==0][df_qua_cons.predict_label==0])/(len(df_qua_cons[df_qua_cons.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7772657450076805

In [11]:
df_stancy = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/non_reverse_bert_cons_epoch5_raw_score.csv")

In [12]:
len(df_stancy[df_stancy.gold==1][df_stancy.predict_label==1])/(len(df_stancy[df_stancy.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7858599592114208

In [13]:
len(df_stancy[df_stancy.gold==0][df_stancy.predict_label==0])/(len(df_stancy[df_stancy.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7211981566820277

In [14]:
df_ant = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/fuse_cosloss_1033033033_2e5_neg_siamese_bert_epoch50_raw_score.csv")

In [15]:
len(df_ant[df_ant.gold==1][df_ant.predict_label==1])/(len(df_ant[df_ant.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7766295707472178

In [16]:
len(df_ant[df_ant.gold==0][df_ant.predict_label==0])/(len(df_ant[df_ant.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7438811188811189

In [17]:
df_base_sub = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/onnew_neg_bert_base_raw_score.csv")

In [18]:
len(df_base_sub[df_base_sub.gold==1][df_base_sub.predict_label==1])/(len(df_base_sub[df_base_sub.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.6836248012718601

In [19]:
len(df_base_sub[df_base_sub.gold==0][df_base_sub.predict_label==0])/(len(df_base_sub[df_base_sub.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7097902097902098

In [20]:
df_stancy_sub = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/onnew_neg_bert_cons_epoch5_raw_score.csv")

In [21]:
len(df_stancy_sub[df_stancy_sub.gold==1][df_stancy_sub.predict_label==1])/(len(df_stancy_sub[df_stancy_sub.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7488076311605724

In [22]:
len(df_stancy_sub[df_stancy_sub.gold==0][df_stancy_sub.predict_label==0])/(len(df_stancy_sub[df_stancy_sub.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7482517482517482

In [23]:
df_qua_sub = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/new_neg_bert_sia_cos_bs24_lr2e_5_epoch30_raw_score.csv")

In [24]:
len(df_qua_sub[df_qua_sub.gold==1][df_qua_sub.predict_label==1])/(len(df_qua_sub[df_qua_sub.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7853736089030207

In [25]:
len(df_qua_sub[df_qua_sub.gold==0][df_qua_sub.predict_label==0])/(len(df_qua_sub[df_qua_sub.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7709790209790209

## Triplet Bert Related Eval Results

In [4]:
import pandas as pd
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

In [5]:
# Triplet cos siamese bert

In [6]:
df = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/train_distance_concat_margin1_costriplet_cos_siamese_bs24_lr2e_5_epoch15_raw_score.csv")

In [7]:
df

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,6.570068,-5.162881,1.871948,0.072585,0,0,0
1,7.038213,-5.479890,1.892146,0.094106,0,0,0
2,-4.758564,4.019589,0.002869,0.007389,1,1,1
3,-3.960488,2.541158,0.038679,0.029619,1,0,1
4,-4.402532,3.949514,0.005121,0.887486,1,1,1
...,...,...,...,...,...,...,...
6265,6.472634,-3.488140,1.985474,1.345437,0,0,0
6266,5.334882,-5.611214,1.971242,0.216501,0,0,0
6267,5.198120,-4.836023,1.971259,0.216393,0,0,0
6268,5.662388,-4.044949,1.881880,0.962322,0,0,0
6269,5.912449,-5.164750,1.987603,0.156738,0,0,0

In [30]:
#logits evaluation results

In [8]:
f1_score(df.gold,df.predict_label)

1.0

In [9]:
precision_score(df.gold,df.predict_label)

1.0

In [10]:
recall_score(df.gold,df.predict_label)

1.0

In [34]:
#distance evaluation results

In [11]:
f1_score(df.gold,df.distance_label)

0.9327286470143613

In [12]:
precision_score(df.gold,df.distance_label)

0.9076198882024125

In [13]:
recall_score(df.gold,df.distance_label)

0.9592661691542289

In [38]:
#consistent cases (logtis prediction == distance prediction)

In [14]:
df_consistency = df[df.predict_label==df.distance_label]

In [15]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,6.570068,-5.162881,1.871948,0.072585,0,0,0
1,7.038213,-5.479890,1.892146,0.094106,0,0,0
2,-4.758564,4.019589,0.002869,0.007389,1,1,1
4,-4.402532,3.949514,0.005121,0.887486,1,1,1
5,5.949302,-6.822432,1.937907,0.014158,0,0,0
...,...,...,...,...,...,...,...
6265,6.472634,-3.488140,1.985474,1.345437,0,0,0
6266,5.334882,-5.611214,1.971242,0.216501,0,0,0
6267,5.198120,-4.836023,1.971259,0.216393,0,0,0
6268,5.662388,-4.044949,1.881880,0.962322,0,0,0
6269,5.912449,-5.164750,1.987603,0.156738,0,0,0

In [16]:
f1_score(df_consistency.gold,df_consistency.distance_label)

1.0

In [17]:
precision_score(df_consistency.gold,df_consistency.distance_label)

1.0

In [18]:
recall_score(df_consistency.gold,df_consistency.distance_label)

1.0

In [19]:
df_logits_diff = df_consistency[abs(df_consistency.undermine_score-df_consistency.support_score)>5.7]
df_logits_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,6.570068,-5.162881,1.871948,0.072585,0,0,0
1,7.038213,-5.479890,1.892146,0.094106,0,0,0
2,-4.758564,4.019589,0.002869,0.007389,1,1,1
4,-4.402532,3.949514,0.005121,0.887486,1,1,1
5,5.949302,-6.822432,1.937907,0.014158,0,0,0
...,...,...,...,...,...,...,...
6265,6.472634,-3.488140,1.985474,1.345437,0,0,0
6266,5.334882,-5.611214,1.971242,0.216501,0,0,0
6267,5.198120,-4.836023,1.971259,0.216393,0,0,0
6268,5.662388,-4.044949,1.881880,0.962322,0,0,0
6269,5.912449,-5.164750,1.987603,0.156738,0,0,0

In [20]:
f1_score(df_logits_diff.gold,df_logits_diff.distance_label)

1.0

In [21]:
precision_score(df_logits_diff.gold,df_logits_diff.distance_label)

1.0

In [22]:
recall_score(df_logits_diff.gold,df_logits_diff.distance_label)

1.0

In [23]:
df_distance_diff = df_consistency[abs(df_consistency.cp_distance-df_consistency.cop_distance)>1.7]
df_distance_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,6.570068,-5.162881,1.871948,0.072585,0,0,0
1,7.038213,-5.479890,1.892146,0.094106,0,0,0
5,5.949302,-6.822432,1.937907,0.014158,0,0,0
6,5.922384,-6.310124,1.848173,0.020410,0,0,0
7,6.055602,-7.097076,1.716517,0.006941,0,0,0
...,...,...,...,...,...,...,...
6258,6.199489,-5.927532,1.988294,0.005238,0,0,0
6259,6.184624,-5.941381,1.982448,0.004746,0,0,0
6266,5.334882,-5.611214,1.971242,0.216501,0,0,0
6267,5.198120,-4.836023,1.971259,0.216393,0,0,0
6269,5.912449,-5.164750,1.987603,0.156738,0,0,0

In [24]:
f1_score(df_distance_diff.gold,df_distance_diff.distance_label)

1.0

In [25]:
precision_score(df_distance_diff.gold,df_distance_diff.distance_label)

1.0

In [26]:
recall_score(df_distance_diff.gold,df_distance_diff.distance_label)

1.0

In [44]:
#inconsistent cases (logtis prediction != distance prediction)

In [27]:
df_inconsistency = df[df.predict_label!=df.distance_label]

In [28]:
df_consistency = df[df.predict_label==df.distance_label]

In [29]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
3,-3.960488,2.541158,0.038679,0.029619,1,0,1
15,6.596234,-6.021047,1.631476,1.681539,0,1,0
40,-4.326472,2.961641,0.002360,0.002133,1,0,1
52,7.047978,-2.799699,1.988701,1.989593,0,1,0
53,7.174447,-2.904366,1.987049,1.988421,0,1,0
...,...,...,...,...,...,...,...
6207,7.312033,-3.552069,1.885135,1.940654,0,1,0
6212,5.902318,-2.111966,1.844290,1.885755,0,1,0
6244,2.341580,-2.219413,1.252155,1.891777,0,1,0
6246,4.068810,-2.959476,1.347318,1.382702,0,1,0
6253,-3.621270,2.144143,0.026642,0.006161,1,0,1

In [30]:
#triplet test set

In [47]:
df_origin = pd.read_csv("../stance_code/Dataset/tri_train/tri_test.tsv", delimiter="\t")

In [48]:
#combine triplet test set with eval results

In [49]:
incons_out = df_inconsistency.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [50]:
# incons_out.to_csv("inconsistency_data.csv",index=False)

In [51]:
# incons_out.to_excel("inconsistency_data.xlsx")

In [52]:
accuracy_score(df_inconsistency.gold,df_inconsistency.predict_label)

1.0

In [53]:
# distance_correct_logits_wrong

In [54]:
df_distance_correct_logits_wrong = df[(df.distance_label==df.gold)&(df.predict_label!=df.gold)]

In [55]:
df_distance_correct_logits_wrong

Empty DataFrame
Columns: [undermine_score, support_score, cp_distance, cop_distance, predict_label, distance_label, gold]
Index: []

In [56]:
# combine distance_correct_logits_wrong with test set

In [57]:
dcorrect_lwrong_out = df_distance_correct_logits_wrong.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [58]:
dcorrect_lwrong_out

Empty DataFrame
Columns: [undermine_score, support_score, cp_distance, cop_distance, predict_label, distance_label, gold, Label, claim, perspective, opposite_perspective]
Index: []

In [59]:
# dcorrect_lwrong_out.to_csv("dcorrect_lwrong_data.csv")

In [60]:
# dcorrect_lwrong_out.to_excel("dcorrect_lwrong_data.xlsx")

In [61]:
#distance_wrong_logits_correct

In [62]:
df_distance_wrong_logits_correct = df[(df.distance_label!=df.gold)&(df.predict_label==df.gold)]

In [63]:
df_distance_wrong_logits_correct

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
3,-3.960488,2.541158,0.038679,0.029619,1,0,1
15,6.596234,-6.021047,1.631476,1.681539,0,1,0
40,-4.326472,2.961641,0.002360,0.002133,1,0,1
52,7.047978,-2.799699,1.988701,1.989593,0,1,0
53,7.174447,-2.904366,1.987049,1.988421,0,1,0
...,...,...,...,...,...,...,...
6207,7.312033,-3.552069,1.885135,1.940654,0,1,0
6212,5.902318,-2.111966,1.844290,1.885755,0,1,0
6244,2.341580,-2.219413,1.252155,1.891777,0,1,0
6246,4.068810,-2.959476,1.347318,1.382702,0,1,0
6253,-3.621270,2.144143,0.026642,0.006161,1,0,1

In [64]:
#combine distance_wrong_logits_correct with test set

In [65]:
dwrong_lcorrect_out = df_distance_wrong_logits_correct.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [66]:
dwrong_lcorrect_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
3,-3.960488,2.541158,0.038679,0.029619,1,0,1,1,punishment should fit the criminal,Adequate punishment reduces future offenses.,Adequate punishment increase future offenses.
15,6.596234,-6.021047,1.631476,1.681539,0,1,0,0,Islamic State/Daesh is the most significant th...,More significant threats than the Islamic Stat...,Less significant threats than the Islamic Stat...
40,-4.326472,2.961641,0.002360,0.002133,1,0,1,1,All countries should have the right to pursue ...,all countries are entitled to self defense wit...,all countries are entitled to self defense wit...
52,7.047978,-2.799699,1.988701,1.989593,0,1,0,0,All countries should have the right to pursue ...,"[Iran specific] Others, particularly Israel, w...","[Iran specific] Others, particularly Israel, w..."
53,7.174447,-2.904366,1.987049,1.988421,0,1,0,0,All countries should have the right to pursue ...,"If the US does not act on Iran, Israel will","If the US does act on Iran, Israel will"
...,...,...,...,...,...,...,...,...,...,...,...
6207,7.312033,-3.552069,1.885135,1.940654,0,1,0,0,Social Security should be privatized,"The accusation that Social Security has been ""...","The accusation that Social Security has been ""..."
6212,5.902318,-2.111966,1.844290,1.885755,0,1,0,0,Social Security should be privatized,"Social Security is an equalizer, leveling the ...","Social Security is not an equalizer, leveling ..."
6244,2.341580,-2.219413,1.252155,1.891777,0,1,0,0,It is important to use a graduated response to...,"File-sharing will still happen, despite these ...","File-sharing will not still happen, despite th..."
6246,4.068810,-2.959476,1.347318,1.382702,0,1,0,0,It is important to use a graduated response to...,Will file-sharing stop if downloaders are bann...,will not file-sharing stop if downloaders are...
6253,-3.621270,2.144143,0.026642,0.006161,1,0,1,1,Internet access is a human right,Human rights are infringed if internet use is ...,Human rights are not infringed if internet use...

In [67]:
# dwrong_lcorrect_out.to_csv("dwrong_lcorrect_data.csv")

In [68]:
# dwrong_lcorrect_out.to_excel("dwrong_lcorrect_data.xlsx")

In [71]:
#stancy eval results

In [72]:
df_stancy =  pd.read_table("../stancy/paper_bert_dual_loss_15/eval_details.txt",header=None)

In [73]:
df_stancy

                                                0  1  2
0      [0.9985860586166382, 0.001413914724253118]  0  0
1     [0.0006979649187996984, 0.9993020296096802]  1  1
2     [0.9987192153930664, 0.0012808680767193437]  0  0
3     [0.9983559250831604, 0.0016440259059891105]  0  0
4      [0.9973260164260864, 0.002673997776582837]  0  0
...                                           ... .. ..
2768   [0.9971250891685486, 0.002874949248507619]  0  1
2769  [0.0006853992817923427, 0.9993146657943726]  1  1
2770    [0.03969154879450798, 0.9603084325790405]  1  0
2771  [0.0016762863378971815, 0.9983237385749817]  1  0
2772    [0.18177905678749084, 0.8182209134101868]  1  0

[2773 rows x 3 columns]

In [74]:
f1_score(df_stancy[1],df_stancy[2])

0.7776

In [75]:
precision_score(df_stancy[1],df_stancy[2])

0.7465437788018433

In [76]:
recall_score(df_stancy[1],df_stancy[2])

0.8113522537562604

In [77]:
df_stancy[df_stancy[1]==df_stancy[2]]

                                                0  1  2
0      [0.9985860586166382, 0.001413914724253118]  0  0
1     [0.0006979649187996984, 0.9993020296096802]  1  1
2     [0.9987192153930664, 0.0012808680767193437]  0  0
3     [0.9983559250831604, 0.0016440259059891105]  0  0
4      [0.9973260164260864, 0.002673997776582837]  0  0
...                                           ... .. ..
2763   [0.001166122849099338, 0.9988338351249695]  1  1
2764  [0.0010132481111213565, 0.9989867806434631]  1  1
2765  [0.0031348520424216986, 0.9968650937080383]  1  1
2766     [0.0007364643388427794, 0.9992635846138]  1  1
2769  [0.0006853992817923427, 0.9993146657943726]  1  1

[2217 rows x 3 columns]

## MEDIAN & MEAN

In [78]:
#dcorrect_lwrong_out cases

In [69]:
dcorrect_lwrong_out

Empty DataFrame
Columns: [undermine_score, support_score, cp_distance, cop_distance, predict_label, distance_label, gold, Label, claim, perspective, opposite_perspective]
Index: []

In [70]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).median()

nan

In [71]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).mean()

nan

In [72]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).max()

nan

In [73]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).min()

nan

In [74]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).median()

nan

In [75]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).mean()

nan

In [76]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).max()

nan

In [77]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).min()

nan

In [78]:
#dwrong_lcorrect_out cases

In [89]:
dwrong_lcorrect_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
3,-3.960488,2.541158,0.038679,0.029619,1,0,1,1,punishment should fit the criminal,Adequate punishment reduces future offenses.,Adequate punishment increase future offenses.
15,6.596234,-6.021047,1.631476,1.681539,0,1,0,0,Islamic State/Daesh is the most significant th...,More significant threats than the Islamic Stat...,Less significant threats than the Islamic Stat...
40,-4.326472,2.961641,0.002360,0.002133,1,0,1,1,All countries should have the right to pursue ...,all countries are entitled to self defense wit...,all countries are entitled to self defense wit...
52,7.047978,-2.799699,1.988701,1.989593,0,1,0,0,All countries should have the right to pursue ...,"[Iran specific] Others, particularly Israel, w...","[Iran specific] Others, particularly Israel, w..."
53,7.174447,-2.904366,1.987049,1.988421,0,1,0,0,All countries should have the right to pursue ...,"If the US does not act on Iran, Israel will","If the US does act on Iran, Israel will"
...,...,...,...,...,...,...,...,...,...,...,...
6207,7.312033,-3.552069,1.885135,1.940654,0,1,0,0,Social Security should be privatized,"The accusation that Social Security has been ""...","The accusation that Social Security has been ""..."
6212,5.902318,-2.111966,1.844290,1.885755,0,1,0,0,Social Security should be privatized,"Social Security is an equalizer, leveling the ...","Social Security is not an equalizer, leveling ..."
6244,2.341580,-2.219413,1.252155,1.891777,0,1,0,0,It is important to use a graduated response to...,"File-sharing will still happen, despite these ...","File-sharing will not still happen, despite th..."
6246,4.068810,-2.959476,1.347318,1.382702,0,1,0,0,It is important to use a graduated response to...,Will file-sharing stop if downloaders are bann...,will not file-sharing stop if downloaders are...
6253,-3.621270,2.144143,0.026642,0.006161,1,0,1,1,Internet access is a human right,Human rights are infringed if internet use is ...,Human rights are not infringed if internet use...

In [90]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).median()

0.022386968

In [91]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).mean()

0.09721777781930338

In [92]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).max()

0.9277638000000001

In [93]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).min()

5.364400000000026e-06

In [94]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).median()

8.7446527

In [95]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).mean()

9.144079554561797

In [96]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).max()

18.485424000000002

In [97]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).min()

1.54931746

In [98]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>7)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)<0.1)]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
15,6.596234,-6.021047,1.631476,1.681539,0,1,0
40,-4.326472,2.961641,0.002360,0.002133,1,0,1
52,7.047978,-2.799699,1.988701,1.989593,0,1,0
53,7.174447,-2.904366,1.987049,1.988421,0,1,0
114,6.323477,-2.008886,1.880848,1.886515,0,1,0
...,...,...,...,...,...,...,...
6176,6.916588,-2.358370,1.935052,1.984906,0,1,0
6188,5.434276,-2.205930,1.795167,1.804801,0,1,0
6207,7.312033,-3.552069,1.885135,1.940654,0,1,0
6212,5.902318,-2.111966,1.844290,1.885755,0,1,0
6246,4.068810,-2.959476,1.347318,1.382702,0,1,0

In [99]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>7)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)<0.1)&(df_inconsistency.predict_label==df_inconsistency.gold)]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
15,6.596234,-6.021047,1.631476,1.681539,0,1,0
40,-4.326472,2.961641,0.002360,0.002133,1,0,1
52,7.047978,-2.799699,1.988701,1.989593,0,1,0
53,7.174447,-2.904366,1.987049,1.988421,0,1,0
114,6.323477,-2.008886,1.880848,1.886515,0,1,0
...,...,...,...,...,...,...,...
6176,6.916588,-2.358370,1.935052,1.984906,0,1,0
6188,5.434276,-2.205930,1.795167,1.804801,0,1,0
6207,7.312033,-3.552069,1.885135,1.940654,0,1,0
6212,5.902318,-2.111966,1.844290,1.885755,0,1,0
6246,4.068810,-2.959476,1.347318,1.382702,0,1,0

In [100]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<3)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>0.15)].count()

undermine_score    1
support_score      1
cp_distance        1
cop_distance       1
predict_label      1
distance_label     1
gold               1
dtype: int64

In [101]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<3)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>0.15)&(df_inconsistency.distance_label==df_inconsistency.gold)].count()

undermine_score    0
support_score      0
cp_distance        0
cop_distance       0
predict_label      0
distance_label     0
gold               0
dtype: int64

In [102]:
#consistent failed cases

In [103]:
df_consistency[df_consistency.predict_label!=df_consistency.gold]

Empty DataFrame
Columns: [undermine_score, support_score, cp_distance, cop_distance, predict_label, distance_label, gold]
Index: []

In [104]:
df_consistency_failed = df_consistency[df_consistency.predict_label!=df_consistency.gold]

In [105]:
cons_out_failed = df_consistency_failed.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [106]:
cons_out_failed

Empty DataFrame
Columns: [undermine_score, support_score, cp_distance, cop_distance, predict_label, distance_label, gold, Label, claim, perspective, opposite_perspective]
Index: []

In [107]:
# cons_out_failed.to_csv("consistency_failed_data.csv")

In [108]:
# cons_out_failed.to_excel("consistency_failed_data.xlsx")

In [109]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).median()

nan

In [110]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).mean()

nan

In [111]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).max()

nan

In [112]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).min()

nan

In [113]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).median()

nan

In [114]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).mean()

nan

In [115]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).max()

nan

In [116]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).min()

nan

In [117]:
df_consistency_correct = df_consistency[df_consistency.predict_label==df_consistency.gold]

In [118]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).median()

9.988975400000001

In [119]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).mean()

10.963616400590558

In [120]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).max()

23.437598

In [121]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).min()

1.0602871600000001

In [122]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).median()

1.6510171687

In [123]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).mean()

1.2958445892189665

In [124]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).max()

1.9921689441000001

In [125]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).min()

5.543300000000317e-06

In [126]:
#consistent cases

In [127]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,6.570068,-5.162881,1.871948,0.072585,0,0,0
1,7.038213,-5.479890,1.892146,0.094106,0,0,0
2,-4.758564,4.019589,0.002869,0.007389,1,1,1
4,-4.402532,3.949514,0.005121,0.887486,1,1,1
5,5.949302,-6.822432,1.937907,0.014158,0,0,0
...,...,...,...,...,...,...,...
6265,6.472634,-3.488140,1.985474,1.345437,0,0,0
6266,5.334882,-5.611214,1.971242,0.216501,0,0,0
6267,5.198120,-4.836023,1.971259,0.216393,0,0,0
6268,5.662388,-4.044949,1.881880,0.962322,0,0,0
6269,5.912449,-5.164750,1.987603,0.156738,0,0,0

In [128]:
# df_consistency.to_csv("consistency_data.csv",index=False)

In [129]:
# df_consistency.to_excel("consistency_data.xlsx",index=False)

In [130]:
#consistent cases analysis

In [130]:
abs(df_consistency.undermine_score-df_consistency.support_score).median()

9.988975400000001

In [131]:
abs(df_consistency.undermine_score-df_consistency.support_score).mean()

10.963616400590558

In [132]:
abs(df_consistency.undermine_score-df_consistency.support_score).max()

23.437598

In [133]:
abs(df_consistency.undermine_score-df_consistency.support_score).min()

1.0602871600000001

In [134]:
abs(df_consistency.cp_distance-df_consistency.cop_distance).median()

1.6510171687

In [135]:
abs(df_consistency.cp_distance-df_consistency.cop_distance).mean()

1.2958445892189665

In [136]:
abs(df_consistency.cp_distance-df_consistency.cop_distance).max()

1.9921689441000001

In [137]:
abs(df_consistency.cp_distance-df_consistency.cop_distance).min()

5.543300000000317e-06

In [138]:
#inconsistent cases analysis

In [139]:
abs(df_inconsistency.undermine_score-df_inconsistency.support_score).median()

8.7446527

In [140]:
abs(df_inconsistency.undermine_score-df_inconsistency.support_score).mean()

9.144079554561797

In [141]:
abs(df_inconsistency.undermine_score-df_inconsistency.support_score).max()

18.485424000000002

In [142]:
abs(df_inconsistency.undermine_score-df_inconsistency.support_score).mean()

9.144079554561797

In [143]:
abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).median()

0.022386968

In [144]:
abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).mean()

0.09721777781930338

In [145]:
abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).max()

0.9277638000000001

In [146]:
abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).min()

5.364400000000026e-06

In [148]:
# Use the "distance to median" to decide final prediction

In [149]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
59,6.975863,-2.372392,1.920776,1.928768,0,1,1
73,1.812300,-0.927047,1.096693,1.661179,0,1,1
78,2.363664,-1.478531,1.179334,1.422178,0,1,1
...,...,...,...,...,...,...,...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [150]:
dwrong_lcorrect_logits_median = abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).median()
dwrong_lcorrect_logits_mean = abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).mean()

In [151]:
# dcorrect_lwrong_logits_median = abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).median()

In [152]:
# dwrong_lcorrect_distance_median = abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).median()

In [153]:
dcorrect_lwrong_distance_median = abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).median()
dcorrect_lwrong_distance_mean = abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).mean()

In [154]:
distance_to_logits_median = abs(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)-dwrong_lcorrect_logits_median)
distance_to_logits_mean = abs(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)-dwrong_lcorrect_logits_mean)

In [155]:
# df_inconsistency["distance_to_logtis"] = (distance_to_logits_median-distance_to_logits_median.min())/(distance_to_logits_median.max()-distance_to_logits_median.min())

In [156]:
df_inconsistency["distance_to_logtis"] = (distance_to_logits_mean-distance_to_logits_mean.min())/(distance_to_logits_mean.max()-distance_to_logits_mean.min())

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [157]:
distance_to_distance_median = abs(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)-dcorrect_lwrong_distance_median)
distance_to_distance_mean = abs(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)-dcorrect_lwrong_distance_mean)

In [158]:
# df_inconsistency["distance_to_distance"] = (distance_to_distance_median-distance_to_distance_median.min())/(distance_to_distance_median.max()-distance_to_distance_median.min())

In [159]:
df_inconsistency["distance_to_distance"] = (distance_to_distance_mean-distance_to_distance_mean.min())/(distance_to_distance_mean.max()-distance_to_distance_mean.min())

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [160]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.108529,0.284723
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.167804,0.151542
59,6.975863,-2.372392,1.920776,1.928768,0,1,1,0.245105,0.283707
73,1.812300,-0.927047,1.096693,1.661179,0,1,1,0.287402,0.376012
78,2.363664,-1.478531,1.179334,1.422178,0,1,1,0.198515,0.005190
...,...,...,...,...,...,...,...,...,...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0,0.030489,0.224496
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0,0.412658,0.607985
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0,0.135881,0.233051
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1,0.469226,0.164878
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0,0.061695,0.184659

In [161]:
import numpy as np

In [162]:
df_inconsistency["final_label"]=df_inconsistency.apply(lambda x: x.distance_label if x.distance_to_distance<x.distance_to_logtis else x.predict_label, axis=1)

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [163]:
# df_inconsistency["final_label"]=df_inconsistency.apply(lambda x: x.distance_label if x.distance_to_distance+0.01<x.distance_to_logtis else x.predict_label, axis=1)

In [164]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance,final_label
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.108529,0.284723,1.0
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.167804,0.151542,0.0
59,6.975863,-2.372392,1.920776,1.928768,0,1,1,0.245105,0.283707,0.0
73,1.812300,-0.927047,1.096693,1.661179,0,1,1,0.287402,0.376012,0.0
78,2.363664,-1.478531,1.179334,1.422178,0,1,1,0.198515,0.005190,1.0
...,...,...,...,...,...,...,...,...,...,...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0,0.030489,0.224496,1.0
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0,0.412658,0.607985,0.0
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0,0.135881,0.233051,0.0
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1,0.469226,0.164878,1.0
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0,0.061695,0.184659,0.0

In [165]:
f1_score(df_inconsistency.gold,df_inconsistency.final_label)

0.6287262872628726

In [166]:
f1_score(df_inconsistency.gold,df_inconsistency.predict_label)

0.5696202531645569

In [167]:
f1_score(df_inconsistency.gold,df_inconsistency.distance_label)

0.49246231155778897