In [7]:
import pandas as pd

## Triplet Bert Related Eval Results

In [8]:
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

In [9]:
# Triplet cos siamese bert

In [10]:
df = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/distance_concat_margin1_costriplet_cos_siamese_bs24_lr2e_5_epoch15_raw_score.csv")
df2 = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/dev_distance_concat_margin1_costriplet_cos_siamese_bs24_lr2e_5_epoch15_raw_score.csv")

In [11]:
df = pd.concat([df,df2])

In [12]:
df

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1
1879,-3.992391,2.597567,0.005293,0.004218,1,0,1
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1

In [13]:
#logits evaluation results

In [14]:
f1_score(df.gold,df.predict_label)

0.8258064516129033

In [15]:
precision_score(df.gold,df.predict_label)

0.8319139399372478

In [16]:
recall_score(df.gold,df.predict_label)

0.8197879858657244

In [17]:
#distance evaluation results

In [18]:
f1_score(df.gold,df.distance_label)

0.7923308918569582

In [19]:
precision_score(df.gold,df.distance_label)

0.7733389402859546

In [20]:
recall_score(df.gold,df.distance_label)

0.8122791519434629

In [21]:
#consistent cases (logtis prediction == distance prediction)

In [22]:
df_consistency = df[df.predict_label==df.distance_label]

In [23]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
1875,-2.986062,6.168940,0.007146,1.979641,1,1,1
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1

In [24]:
f1_score(df_consistency.gold,df_consistency.distance_label)

0.8522784176264397

In [25]:
precision_score(df_consistency.gold,df_consistency.distance_label)

0.8421573478476002

In [26]:
recall_score(df_consistency.gold,df_consistency.distance_label)

0.8626457171819564

In [27]:
df_logits_diff = df_consistency[abs(df_consistency.undermine_score-df_consistency.support_score)>11.7]
df_logits_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
56,-6.740227,6.935597,0.017248,1.656932,1,1,1
82,-6.699821,6.198657,0.017356,1.790910,1,1,1
176,7.776163,-5.735231,1.865803,0.175052,0,0,0
178,8.175444,-6.853647,1.905149,0.082175,0,0,0
179,7.822188,-5.983000,1.871615,0.071257,0,0,0
...,...,...,...,...,...,...,...
1803,8.259789,-6.152510,1.781657,0.272301,0,0,1
1804,6.963352,-4.964608,1.671127,0.347740,0,0,1
1805,9.007212,-6.763206,1.837904,0.168444,0,0,1
1806,8.831461,-6.858443,1.819252,0.263004,0,0,1
1816,6.255768,-7.860669,1.926226,0.116048,0,0,0

In [28]:
f1_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8813559322033898

In [29]:
precision_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.9473684210526315

In [30]:
recall_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.823943661971831

In [31]:
df_distance_diff = df_consistency[abs(df_consistency.cp_distance-df_consistency.cop_distance)>1.9]
df_distance_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
14,4.973082,-5.446892,1.975014,0.038279,0,0,0
22,-2.595918,5.513531,0.011529,1.970146,1,1,1
27,-2.784658,5.825409,0.007447,1.957864,1,1,1
28,-2.574459,5.599093,0.028452,1.954338,1,1,1
...,...,...,...,...,...,...,...
1875,-2.986062,6.168940,0.007146,1.979641,1,1,1
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1

In [32]:
f1_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9462915601023019

In [33]:
precision_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9273182957393483

In [34]:
recall_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9660574412532638

In [35]:
#inconsistent cases (logtis prediction != distance prediction)

In [36]:
df_inconsistency = df

In [37]:
df_consistency = df[df.predict_label==df.distance_label]

In [38]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1
1879,-3.992391,2.597567,0.005293,0.004218,1,0,1
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1

In [39]:
#triplet test set

In [40]:
df_origin = pd.read_csv("../stance_code/Dataset/tri_test.tsv", delimiter="\t")

In [41]:
#combine triplet test set with eval results

In [42]:
incons_out = df_inconsistency.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [43]:
# incons_out.to_csv("inconsistency_data.csv",index=False)

In [44]:
# incons_out.to_excel("inconsistency_data.xlsx")

In [45]:
accuracy_score(df_inconsistency.gold,df_inconsistency.predict_label)

0.8223684210526315

In [46]:
# distance_correct_logits_wrong

In [47]:
df_distance_correct_logits_wrong = df[(df.distance_label==df.gold)&(df.predict_label!=df.gold)]

In [48]:
df_distance_correct_logits_wrong

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
59,6.975863,-2.372392,1.920776,1.928768,0,1,1
73,1.812300,-0.927047,1.096693,1.661179,0,1,1
78,2.363664,-1.478531,1.179334,1.422178,0,1,1
84,5.189340,-5.870834,1.708071,1.780854,0,1,1
110,-2.283030,2.307269,0.426038,0.200011,1,0,0
...,...,...,...,...,...,...,...
1700,4.233325,-0.826067,1.689186,1.910766,0,1,1
1745,-4.210659,3.200775,0.024819,0.002696,1,0,0
1749,-1.710640,1.631334,0.619466,0.052952,1,0,0
1771,3.422000,-2.228989,1.575843,1.648455,0,1,1
1790,0.792280,-0.925869,0.826461,1.562265,0,1,1

In [49]:
# combine distance_correct_logits_wrong with test set

In [50]:
dcorrect_lwrong_out = df_distance_correct_logits_wrong.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [51]:
dcorrect_lwrong_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
20,6.864208,-2.278313,1.910880,1.918588,0,1,1,0,Raise The School Leaving Age To 18,The classroom environment is not ideal for all...,The classroom environment is ideal for all les...
59,6.975863,-2.372392,1.920776,1.928768,0,1,1,1,Chess must be at the Olympics,"Chess is currently not an Olympic sport, but i...","Chess is currently an Olympic sport, but it sh..."
73,1.812300,-0.927047,1.096693,1.661179,0,1,1,1,Federal States are better than unitary nations,Citizens are better protected in federal states.,Citizens are not better protected in federal s...
78,2.363664,-1.478531,1.179334,1.422178,0,1,1,1,Federal States are better than unitary nations,Federal states are economically stronger,Federal states are not economically stronger
84,5.189340,-5.870834,1.708071,1.780854,0,1,1,1,The Catholic Church needs reform,"If priests were not forced to be celibate, the...","If priests were forced to be celibate, the iss..."
...,...,...,...,...,...,...,...,...,...,...,...
2434,-3.825589,5.084303,0.037229,0.004001,1,0,0,0,Democracies should ban the display of communis...,Extremist movements are harmful and should not...,Extremist movements are harmful and should be ...
2465,4.006112,-1.870267,1.650200,1.766552,0,1,1,1,The outcome of the Paris Climate Conference ne...,An international treaty will legalize non-comp...,An international treaty will not legalize non-...
2473,1.276656,-1.107606,1.218479,1.468761,0,1,1,1,The House of Lords should be reformed,The House of Lords is out of touch with the el...,The House of Lords is not out of touch with th...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0,0,NATO has succeeded in Afghanistan,the taliban is waiting and likley to regain co...,the taliban is not waiting and likley to regai...
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1,1,Illegal downloaders should be cut off from the...,Internet access is an enabler of rights not a ...,Internet access is an enabler of rights a righ...

In [52]:
# dcorrect_lwrong_out.to_csv("dcorrect_lwrong_data.csv")

In [53]:
# dcorrect_lwrong_out.to_excel("dcorrect_lwrong_data.xlsx")

In [54]:
#distance_wrong_logits_correct

In [55]:
df_distance_wrong_logits_correct = df[(df.distance_label!=df.gold)&(df.predict_label==df.gold)]

In [56]:
df_distance_wrong_logits_correct

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
81,-0.142597,0.318115,0.313459,0.120503,1,0,1
88,4.976699,-0.766726,1.319132,1.789118,0,1,0
101,6.664764,-2.338005,1.957810,1.962720,0,1,0
...,...,...,...,...,...,...,...
1814,3.905345,-0.095968,1.457064,1.681851,0,1,0
1820,1.593746,1.562980,1.135675,1.713086,0,1,0
1841,4.879842,-0.891742,1.643439,1.880957,0,1,0
1842,4.840327,-0.986017,1.712768,1.825670,0,1,0
1879,-3.992391,2.597567,0.005293,0.004218,1,0,1

In [57]:
#combine distance_wrong_logits_correct with test set

In [58]:
dwrong_lcorrect_out = df_distance_wrong_logits_correct.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [59]:
dwrong_lcorrect_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1,School Day Should Be Extended,Lessons would feel less broken.,Lessons would not feel less broken.
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,1,School Day Should Be Extended,Less need for homework.,More need for homework.
3,6.877738,-2.613240,1.961827,1.976244,0,1,0,1,School Day Should Be Extended,Less need for homework.,More need for homework.
48,-4.295470,5.233423,0.008994,0.004334,1,0,1,0,Make all museums free of charge,We should not expect the state to fund museums,We should expect the state to fund museums
49,-4.151679,5.045624,0.017031,0.011044,1,0,1,1,Make all museums free of charge,Museums are a crucial source of inspiration an...,Museums are not a crucial source of inspiratio...
...,...,...,...,...,...,...,...,...,...,...,...
2428,1.780620,0.518181,0.962062,1.407790,0,1,0,0,Democracies should ban the display of communis...,Society is ready to live with Nazi and Soviet ...,Society is not ready to live with Nazi and Sov...
2479,1.438328,0.848351,1.115165,1.629890,0,1,0,0,NATO has succeeded in Afghanistan,the taliban will likely resume their control o...,the taliban will not likely resume their contr...
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0,0,Illegal downloaders should be cut off from the...,"File-sharing will still happen, despite these ...","File-sharing will not still happen, despite th..."
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0,0,Illegal downloaders should be cut off from the...,Will file-sharing stop if downloaders are bann...,will not file-sharing stop if downloaders are...
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0,0,Illegal downloaders should be cut off from the...,Human rights are infringed if internet use is ...,Human rights are not infringed if internet use...

In [60]:
# dwrong_lcorrect_out.to_csv("dwrong_lcorrect_data.csv")

In [61]:
# dwrong_lcorrect_out.to_excel("dwrong_lcorrect_data.xlsx")

In [62]:
#dcorrect_lwrong_out cases

In [63]:
dcorrect_lwrong_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
20,6.864208,-2.278313,1.910880,1.918588,0,1,1,0,Raise The School Leaving Age To 18,The classroom environment is not ideal for all...,The classroom environment is ideal for all les...
59,6.975863,-2.372392,1.920776,1.928768,0,1,1,1,Chess must be at the Olympics,"Chess is currently not an Olympic sport, but i...","Chess is currently an Olympic sport, but it sh..."
73,1.812300,-0.927047,1.096693,1.661179,0,1,1,1,Federal States are better than unitary nations,Citizens are better protected in federal states.,Citizens are not better protected in federal s...
78,2.363664,-1.478531,1.179334,1.422178,0,1,1,1,Federal States are better than unitary nations,Federal states are economically stronger,Federal states are not economically stronger
84,5.189340,-5.870834,1.708071,1.780854,0,1,1,1,The Catholic Church needs reform,"If priests were not forced to be celibate, the...","If priests were forced to be celibate, the iss..."
...,...,...,...,...,...,...,...,...,...,...,...
2434,-3.825589,5.084303,0.037229,0.004001,1,0,0,0,Democracies should ban the display of communis...,Extremist movements are harmful and should not...,Extremist movements are harmful and should be ...
2465,4.006112,-1.870267,1.650200,1.766552,0,1,1,1,The outcome of the Paris Climate Conference ne...,An international treaty will legalize non-comp...,An international treaty will not legalize non-...
2473,1.276656,-1.107606,1.218479,1.468761,0,1,1,1,The House of Lords should be reformed,The House of Lords is out of touch with the el...,The House of Lords is not out of touch with th...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0,0,NATO has succeeded in Afghanistan,the taliban is waiting and likley to regain co...,the taliban is not waiting and likley to regai...
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1,1,Illegal downloaders should be cut off from the...,Internet access is an enabler of rights not a ...,Internet access is an enabler of rights a righ...

In [64]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).median()

0.19407839999999998

In [65]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).mean()

0.2681527522840933

In [66]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).max()

1.2839643

In [67]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).min()

0.0007354019999999996

In [68]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).median()

4.806976799999999

In [69]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).mean()

4.818969778940933

In [70]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).max()

13.7038707

In [71]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).min()

0.009783112999999996

In [72]:
#dwrong_lcorrect_out cases

In [73]:
dwrong_lcorrect_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1,School Day Should Be Extended,Lessons would feel less broken.,Lessons would not feel less broken.
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,1,School Day Should Be Extended,Less need for homework.,More need for homework.
3,6.877738,-2.613240,1.961827,1.976244,0,1,0,1,School Day Should Be Extended,Less need for homework.,More need for homework.
48,-4.295470,5.233423,0.008994,0.004334,1,0,1,0,Make all museums free of charge,We should not expect the state to fund museums,We should expect the state to fund museums
49,-4.151679,5.045624,0.017031,0.011044,1,0,1,1,Make all museums free of charge,Museums are a crucial source of inspiration an...,Museums are not a crucial source of inspiratio...
...,...,...,...,...,...,...,...,...,...,...,...
2428,1.780620,0.518181,0.962062,1.407790,0,1,0,0,Democracies should ban the display of communis...,Society is ready to live with Nazi and Soviet ...,Society is not ready to live with Nazi and Sov...
2479,1.438328,0.848351,1.115165,1.629890,0,1,0,0,NATO has succeeded in Afghanistan,the taliban will likely resume their control o...,the taliban will not likely resume their contr...
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0,0,Illegal downloaders should be cut off from the...,"File-sharing will still happen, despite these ...","File-sharing will not still happen, despite th..."
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0,0,Illegal downloaders should be cut off from the...,Will file-sharing stop if downloaders are bann...,will not file-sharing stop if downloaders are...
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0,0,Illegal downloaders should be cut off from the...,Human rights are infringed if internet use is ...,Human rights are not infringed if internet use...

In [74]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).median()

0.061195077199999996

In [75]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).mean()

0.16816338629165775

In [76]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).max()

1.1424108

In [77]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).min()

8.82149999999974e-06

In [78]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).median()

6.8983743

In [79]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).mean()

6.415045629781283

In [80]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).max()

18.714413999999998

In [81]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).min()

0.030765300000000106

In [82]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>7)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)<0.1)]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
15,6.702568,-2.567696,1.940552,1.864902,0,0,0
16,6.727525,-2.691421,1.960978,1.921587,0,0,0
19,6.421700,-2.538338,1.935928,1.874516,0,0,0
...,...,...,...,...,...,...,...
1792,-4.231707,3.045445,0.004540,0.003267,1,0,1
1827,5.851793,-1.237778,1.756661,1.730959,0,0,0
1859,6.043321,-2.742341,1.957043,1.882545,0,0,0
1867,-4.329029,2.930595,0.020093,0.074588,1,1,1
1873,6.625595,-2.438474,1.979702,1.976665,0,0,0

In [83]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>7)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)<0.1)&(df_inconsistency.predict_label==df_inconsistency.gold)]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
15,6.702568,-2.567696,1.940552,1.864902,0,0,0
16,6.727525,-2.691421,1.960978,1.921587,0,0,0
19,6.421700,-2.538338,1.935928,1.874516,0,0,0
...,...,...,...,...,...,...,...
1792,-4.231707,3.045445,0.004540,0.003267,1,0,1
1827,5.851793,-1.237778,1.756661,1.730959,0,0,0
1859,6.043321,-2.742341,1.957043,1.882545,0,0,0
1867,-4.329029,2.930595,0.020093,0.074588,1,1,1
1873,6.625595,-2.438474,1.979702,1.976665,0,0,0

In [84]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<3)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>0.15)].count()

undermine_score    237
support_score      237
cp_distance        237
cop_distance       237
predict_label      237
distance_label     237
gold               237
dtype: int64

In [85]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<3)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>0.15)&(df_inconsistency.distance_label==df_inconsistency.gold)].count()

undermine_score    144
support_score      144
cp_distance        144
cop_distance       144
predict_label      144
distance_label     144
gold               144
dtype: int64

In [86]:
#consistent failed cases

In [87]:
df_consistency[df_consistency.predict_label!=df_consistency.gold]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
46,-2.267228,5.343608,0.012838,1.899688,1,1,0
51,5.155417,-4.237434,1.868408,0.744416,0,0,1
54,3.537244,-2.157459,1.688211,0.791399,0,0,1
63,-2.482541,5.729583,0.023178,1.951421,1,1,0
74,-3.022160,2.879174,0.396503,1.347344,1,1,0
...,...,...,...,...,...,...,...
1804,6.963352,-4.964608,1.671127,0.347740,0,0,1
1805,9.007212,-6.763206,1.837904,0.168444,0,0,1
1806,8.831461,-6.858443,1.819252,0.263004,0,0,1
1807,6.757890,-4.443211,1.619666,0.302776,0,0,1
1811,-1.889811,4.837952,0.073527,1.707905,1,1,0

In [88]:
df_consistency_failed = df_consistency[df_consistency.predict_label!=df_consistency.gold]

In [89]:
cons_out_failed = df_consistency_failed.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [90]:
cons_out_failed

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
4,-3.315168,3.270811,0.056645,0.729286,1,1,0,1,School Day Should Be Extended,Time to finish activities,Time not to finish activities
5,-2.965680,3.221141,0.046975,0.601694,1,1,0,1,Raise The School Leaving Age To 18,With more education comes more opportunities,With less education comes more opportunities
10,-2.832457,5.750215,0.001142,1.964023,1,1,0,1,Raise The School Leaving Age To 18,"The longer they are educated, the more opportu...","The longer they are not educated, the more opp..."
11,-3.614858,4.229075,0.007741,1.228680,1,1,0,1,Raise The School Leaving Age To 18,Raising the school learning age promotes equal...,lower the school learning age promotes equal ...
14,-2.453328,5.697545,0.017936,1.944030,1,1,0,0,Raise The School Leaving Age To 18,Forced education achieves little,Forced education achieves much
...,...,...,...,...,...,...,...,...,...,...,...
2469,-2.194105,5.495428,0.036756,1.755904,1,1,0,0,The outcome of the Paris Climate Conference ne...,Allowing sovereign states to set and meet thei...,Allowing sovereign states not to set and meet ...
2474,5.292336,-6.160551,1.813913,0.410568,0,0,1,1,The House of Lords should be reformed,The House of Lords does not understand the nee...,The House of Lords does understand the needs o...
2477,-0.591194,0.761670,0.984307,1.508494,1,1,0,0,The House of Lords should be reformed,an apathetic public can be the cause of reform,an apathetic public can not be the cause of re...
2496,-2.799630,5.131019,0.060273,1.893408,1,1,0,0,Winning the Champions League Is Better Than Wi...,The Premiership is the most popular and succes...,The Premiership is not the most popular and su...
2497,4.596515,-1.639086,1.612404,1.563472,0,0,1,1,Winning the Champions League Is Better Than Wi...,Winning the Champions League relies more on lu...,Winning the Champions League relies less on lu...

In [91]:
# cons_out_failed.to_csv("consistency_failed_data.csv")

In [92]:
# cons_out_failed.to_excel("consistency_failed_data.xlsx")

In [93]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).median()

1.3391846065

In [94]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).mean()

1.1457815212635085

In [95]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).max()

1.9830446967

In [96]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).min()

0.0013897000000000492

In [97]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).median()

7.900042899999999

In [98]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).mean()

7.705913194503135

In [99]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).max()

17.887935

In [100]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).min()

0.08601858999999998

In [101]:
df_consistency_correct = df_consistency[df_consistency.predict_label==df_consistency.gold]

In [102]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).median()

9.1684488

In [103]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).mean()

9.99125484597853

In [104]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).max()

23.471

In [105]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).min()

0.018043279999999995

In [106]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).median()

1.6575976200000002

In [107]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).mean()

1.3580910291245987

In [108]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).max()

1.98550799512

In [109]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).min()

0.00021850000000001035

In [110]:
#consistent cases

In [111]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
1875,-2.986062,6.168940,0.007146,1.979641,1,1,1
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1

In [112]:
# df_consistency.to_csv("consistency_data.csv",index=False)

In [113]:
# df_consistency.to_excel("consistency_data.xlsx",index=False)

In [114]:
#consistent cases analysis

In [115]:
consistent_logits_median = abs(df_consistency.undermine_score-df_consistency.support_score).median()
consistent_logits_median

9.0266147

In [116]:
consistent_logits_mean = abs(df_consistency.undermine_score-df_consistency.support_score).mean()
consistent_logits_mean

9.64021304062303

In [117]:
consistent_logits_max =abs(df_consistency.undermine_score-df_consistency.support_score).max()
consistent_logits_max

23.471

In [118]:
consistent_logits_min = abs(df_consistency.undermine_score-df_consistency.support_score).min()
consistent_logits_min

0.018043279999999995

In [119]:
consistent_distance_median = abs(df_consistency.cp_distance-df_consistency.cop_distance).median()
consistent_distance_median

1.6220399737

In [120]:
consistent_distance_mean = abs(df_consistency.cp_distance-df_consistency.cop_distance).mean()
consistent_distance_mean

1.3254790505674408

In [121]:
consistent_distance_max = abs(df_consistency.cp_distance-df_consistency.cop_distance).max()
consistent_distance_max

1.98550799512

In [122]:
consistent_distance_min = abs(df_consistency.cp_distance-df_consistency.cop_distance).min()
consistent_distance_min

0.00021850000000001035

In [123]:
#inconsistent cases analysis

In [124]:
inconsistent_logits_median = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).median()
inconsistent_logits_median

8.783737299999999

In [125]:
inconsistent_logits_mean = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).mean()
inconsistent_logits_mean

9.15547788609502

In [126]:
inconsistent_logits_max = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).max()
inconsistent_logits_max

23.471

In [127]:
inconsistent_logits_min = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).min()
inconsistent_logits_min

0.009783112999999996

In [128]:
inconsistent_distance_median = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).median()
inconsistent_distance_median

1.5019473085

In [129]:
inconsistent_distance_mean = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).mean()
inconsistent_distance_mean

1.1809917470266447

In [130]:
inconsistent_distance_max = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).max()
inconsistent_distance_max

1.98550799512

In [131]:
inconsistent_distance_min = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).min()
inconsistent_distance_min

8.82149999999974e-06

In [132]:
# Use the "distance to median" to decide final prediction

In [133]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1
1879,-3.992391,2.597567,0.005293,0.004218,1,0,1
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1

In [134]:
dwrong_lcorrect_logits_median = abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).median()
dwrong_lcorrect_logits_mean = abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).mean()

In [135]:
# dcorrect_lwrong_logits_median = abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).median()

In [136]:
# dwrong_lcorrect_distance_median = abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).median()

In [137]:
dcorrect_lwrong_distance_median = abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).median()
dcorrect_lwrong_distance_mean = abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).mean()

In [138]:
distance_to_logits_median = abs(df_inconsistency.undermine_score-df_inconsistency.support_score)-inconsistent_logits_median
distance_to_logits_mean = abs(df_inconsistency.undermine_score-df_inconsistency.support_score)-inconsistent_logits_mean

In [139]:
df_inconsistency["distance_to_logtis"] = (distance_to_logits_median-distance_to_logits_median.min())/(distance_to_logits_median.max()-distance_to_logits_median.min())

In [140]:
# df_inconsistency["distance_to_logtis"] = (distance_to_logits_mean-distance_to_logits_mean.min())/(distance_to_logits_mean.max()-distance_to_logits_mean.min())

In [141]:
distance_to_logits_median.max()

14.687262700000002

In [142]:
distance_to_logits_mean.max()

14.31552211390498

In [143]:
distance_to_distance_median = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)-inconsistent_distance_median
distance_to_distance_mean = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)-inconsistent_distance_mean

In [144]:
(distance_to_distance_median-distance_to_distance_median.min())/(distance_to_distance_median.max()-distance_to_distance_median.min())

0       0.003590
1       0.967933
2       0.002977
3       0.060150
4       0.780107
          ...
1876    0.978452
1877    0.963105
1878    0.997176
1879    0.000537
1880    0.995517
Length: 4408, dtype: float64

In [145]:
(distance_to_distance_median.max()-distance_to_distance_median.min())

1.98549917362

In [146]:
(distance_to_distance_mean-distance_to_distance_mean.min())/(distance_to_distance_mean.max()-distance_to_distance_mean.min())

0       0.003590
1       0.967933
2       0.002977
3       0.060150
4       0.780107
          ...
1876    0.978452
1877    0.963105
1878    0.997176
1879    0.000537
1880    0.995517
Length: 4408, dtype: float64

In [147]:
df_inconsistency["distance_to_distance"] = (distance_to_distance_median-distance_to_distance_median.min())/(distance_to_distance_median.max()-distance_to_distance_median.min())

In [148]:
# df_inconsistency["distance_to_distance"] = (distance_to_distance_mean-distance_to_distance_mean.min())/(distance_to_distance_mean.max()-distance_to_distance_mean.min())

In [149]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003590
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,0.464116,0.967933
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002977
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060150
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780107
...,...,...,...,...,...,...,...,...,...
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1,0.377049,0.978452
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1,0.378286,0.963105
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1,0.386892,0.997176
1879,-3.992391,2.597567,0.005293,0.004218,1,0,1,0.280470,0.000537
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1,0.372529,0.995517

In [150]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
1875,-2.986062,6.168940,0.007146,1.979641,1,1,1
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1

In [151]:
import flyingsquid
from numpy.random import seed, rand
import itertools
import numpy as np

In [152]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003590
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,0.464116,0.967933
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002977
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060150
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780107
...,...,...,...,...,...,...,...,...,...
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1,0.377049,0.978452
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1,0.378286,0.963105
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1,0.386892,0.997176
1879,-3.992391,2.597567,0.005293,0.004218,1,0,1,0.280470,0.000537
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1,0.372529,0.995517

In [153]:
df_inconsistency[abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<9.7]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003590
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002977
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060150
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780107
5,-2.957279,5.612340,0.010343,1.754936,1,1,1,0.364850,0.878663
...,...,...,...,...,...,...,...,...,...
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1,0.377049,0.978452
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1,0.378286,0.963105
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1,0.386892,0.997176
1879,-3.992391,2.597567,0.005293,0.004218,1,0,1,0.280470,0.000537
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1,0.372529,0.995517

In [154]:
df_inconsistency["snorkel_logits_17"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_17==0 else 1, axis=1)
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<1.7  else x.snorkel_logits_17, axis=1)

In [155]:
df_inconsistency["snorkel_logits_37"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_37==0 else 1, axis=1)
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<3.7  else x.snorkel_logits_37, axis=1)

In [156]:
df_inconsistency["snorkel_logits_57"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_57==0 else 1, axis=1)
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<5.7  else x.snorkel_logits_57, axis=1)

In [157]:
df_inconsistency["snorkel_logits_77"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_77==0 else 1, axis=1)
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<7.7  else x.snorkel_logits_77, axis=1)

In [158]:
df_inconsistency["snorkel_logits_97"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_97==0 else 1, axis=1)
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<9.7  else x.snorkel_logits_97, axis=1)

In [159]:
df_inconsistency["snorkel_distance_01"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_01==0 else 1, axis=1)
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.1  else x.snorkel_distance_01, axis=1)

In [160]:
df_inconsistency["snorkel_distance_03"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_03==0 else 1, axis=1)
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.3  else x.snorkel_distance_03, axis=1)

In [161]:
df_inconsistency["snorkel_distance_05"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_05==0 else 1, axis=1)
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.5  else x.snorkel_distance_05, axis=1)

In [162]:
df_inconsistency["snorkel_distance_07"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_07==0 else 1, axis=1)
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.7  else x.snorkel_distance_07, axis=1)

In [163]:
df_inconsistency["snorkel_distance_09"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_09==0 else 1, axis=1)
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.9  else x.snorkel_distance_09, axis=1)

In [164]:
df_inconsistency["snorkel_label"]=df_inconsistency.gold
df_inconsistency.snorkel_label = df_inconsistency.apply(lambda x: -1 if x.snorkel_label==0 else 1, axis=1)

In [165]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09,snorkel_label
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003590,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,0.464116,0.967933,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002977,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060150,1.0,1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780107,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1876,-3.020821,5.834997,0.000552,1.943276,1,1,1,0.377049,0.978452,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1
1877,-3.082693,5.802138,0.000832,1.913086,1,1,1,0.378286,0.963105,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1
1878,-3.014879,6.071866,0.001957,1.981859,1,1,1,0.386892,0.997176,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1
1879,-3.992391,2.597567,0.005293,0.004218,1,0,1,0.280470,0.000537,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1880,-2.863911,5.885867,0.001213,1.977819,1,1,1,0.372529,0.995517,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1

In [166]:
df_inconsistency.to_csv("L_train_entiredevtest.csv", index=False)

In [32]:
L_dev

array([[ 0.,  0., -1.,  1.,  1.],
       [ 0.,  0., -1.,  1.,  1.],
       [ 0.,  0., -1., -1.,  0.],
       ...,
       [ 0.,  0., -1.,  0., -1.],
       [ 0.,  0.,  0., -1., -1.],
       [ 0.,  0.,  1.,  0.,  0.]])

In [33]:
Y_dev

array([ 1., -1., -1., -1., -1.,  1., -1., -1., -1.,  1.,  1., -1.,  1.,
       -1.,  1., -1., -1., -1.,  1., -1.,  1.,  1., -1.,  1., -1.,  1.,
        1., -1., -1., -1., -1., -1.,  1.,  1., -1.,  1., -1., -1.,  1.,
        1.,  1., -1.,  1.,  1., -1., -1., -1.,  1., -1., -1., -1., -1.,
        1., -1.,  1.,  1., -1., -1., -1.,  1., -1.,  1.,  1.,  1., -1.,
       -1., -1., -1., -1.,  1., -1., -1., -1.,  1., -1., -1., -1.,  1.,
       -1., -1.,  1., -1., -1., -1.,  1., -1.,  1., -1.,  1.,  1., -1.,
        1., -1., -1.,  1., -1., -1., -1., -1.,  1.,  1., -1., -1., -1.,
        1., -1.,  1., -1., -1., -1., -1.,  1., -1., -1., -1., -1., -1.,
       -1., -1., -1., -1.,  1.,  1.,  1., -1.,  1.,  1.,  1., -1.,  1.,
        1., -1., -1.,  1.,  1., -1.,  1.,  1.,  1., -1.,  1.,  1.,  1.,
        1., -1.,  1., -1., -1., -1., -1.,  1., -1., -1.,  1.,  1., -1.,
       -1., -1., -1.,  1.,  1.,  1.,  1., -1., -1., -1.,  1., -1., -1.,
       -1.,  1., -1.,  1.,  1., -1., -1., -1.,  1., -1.,  1., -1., -1.,
        1., -1.,  1., -1.,  1.,  1.,  1.,  1., -1., -1., -1., -1.,  1.,
       -1.,  1.,  1., -1.,  1.,  1.,  1., -1., -1., -1., -1., -1.,  1.,
        1., -1.,  1.,  1.,  1.,  1., -1.,  1., -1., -1., -1., -1., -1.,
       -1., -1.,  1., -1., -1., -1.,  1.,  1., -1., -1.,  1.,  1.,  1.,
        1.,  1., -1.,  1.,  1.,  1., -1., -1.,  1.,  1.,  1., -1., -1.,
       -1.,  1., -1.,  1.,  1.,  1., -1., -1., -1., -1.,  1., -1.,  1.,
        1., -1.,  1., -1.,  1., -1.,  1., -1.,  1., -1.,  1.,  1.,  1.,
        1., -1., -1., -1.,  1., -1., -1.,  1.,  1., -1., -1., -1., -1.,
        1., -1., -1., -1., -1., -1.,  1.,  1., -1.,  1., -1., -1., -1.,
       -1.,  1., -1.,  1., -1.,  1., -1., -1., -1., -1.,  1.,  1.,  1.,
        1., -1.,  1.,  1.,  1.,  1., -1., -1., -1., -1.,  1.,  1.,  1.,
        1.,  1.,  1., -1.,  1., -1.,  1.,  1.,  1.,  1.,  1., -1., -1.,
        1., -1., -1., -1.,  1., -1., -1., -1., -1., -1.,  1.,  1.,  1.,
        1., -1., -1.,  1., -1.,  1., -1., -1., -1.,  1., -1.,  1.,  1.,
        1., -1., -1.,  1., -1., -1.,  1.,  1., -1., -1., -1.,  1.,  1.,
        1.,  1., -1., -1.,  1.,  1., -1., -1., -1., -1.,  1., -1.,  1.,
       -1., -1., -1., -1., -1., -1., -1., -1., -1.,  1.,  1.,  1.,  1.,
       -1.,  1.,  1., -1.,  1.,  1., -1., -1.,  1., -1.,  1., -1., -1.,
        1.,  1.,  1.,  1.,  1.,  1., -1.,  1., -1., -1., -1., -1., -1.,
        1.,  1.,  1., -1.,  1., -1.,  1.,  1., -1., -1., -1.,  1., -1.,
       -1.,  1.,  1.,  1., -1.,  1.,  1., -1.,  1.,  1., -1., -1.,  1.,
       -1., -1.,  1., -1., -1., -1.,  1.,  1., -1.,  1.,  1.,  1., -1.,
       -1., -1.,  1., -1., -1.,  1.,  1., -1.,  1., -1., -1., -1., -1.,
        1.,  1.,  1.,  1.,  1., -1., -1.,  1.,  1., -1.,  1.,  1.,  1.,
        1., -1.,  1., -1.,  1.,  1.])