In [13]:
import pandas as pd

## Triplet Bert Related Eval Results

In [14]:
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

In [15]:
# Triplet cos siamese bert

In [16]:
df = pd.read_csv("../stance_code/Evaluation/paper_output/ori_model_with_naive_concat_margin1_costriplet_cos_siamese_bs24_lr2e_5_epoch15_raw_score.csv")

In [17]:
# df = pd.concat([df,df2])

In [18]:
df

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

In [19]:
#logits evaluation results

In [20]:
f1_score(df.gold,df.predict_label)

0.8045267489711935

In [21]:
precision_score(df.gold,df.predict_label)

0.8117647058823529

In [22]:
recall_score(df.gold,df.predict_label)

0.7974167233174712

In [23]:
#distance evaluation results

In [24]:
f1_score(df.gold,df.distance_label)

0.7819796119697469

In [25]:
precision_score(df.gold,df.distance_label)

0.7573248407643313

In [26]:
recall_score(df.gold,df.distance_label)

0.8082936777702243

In [27]:
#consistent cases (logtis prediction == distance prediction)

In [28]:
df_consistency = df[df.predict_label==df.distance_label]

In [29]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

In [30]:
f1_score(df_consistency.gold,df_consistency.distance_label)

0.8361669242658424

In [31]:
precision_score(df_consistency.gold,df_consistency.distance_label)

0.8228136882129278

In [32]:
recall_score(df_consistency.gold,df_consistency.distance_label)

0.8499607227022781

In [33]:
df_logits_diff = df_consistency[abs(df_consistency.undermine_score-df_consistency.support_score)>11.7]
df_logits_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
58,-6.740227,6.935597,0.017248,1.656932,1,1,1
87,-6.699821,6.198657,0.017356,1.790910,1,1,1
185,7.776163,-5.735231,1.865803,0.175052,0,0,0
187,8.175444,-6.853647,1.905149,0.082175,0,0,0
188,7.822188,-5.983000,1.871615,0.071257,0,0,0
...,...,...,...,...,...,...,...
2761,7.405044,-6.452584,1.447262,0.201506,0,0,0
2762,6.648351,-6.019004,1.416802,0.236846,0,0,0
2763,6.778597,-5.306126,1.339745,0.412176,0,0,0
2766,7.552144,-6.467586,1.450673,0.491035,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0

In [34]:
f1_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8530465949820788

In [35]:
precision_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.937007874015748

In [36]:
recall_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.7828947368421053

In [37]:
df_distance_diff = df_consistency[abs(df_consistency.cp_distance-df_consistency.cop_distance)>1.9]
df_distance_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
14,4.973082,-5.446892,1.975014,0.038279,0,0,0
22,-2.595918,5.513531,0.011529,1.970146,1,1,1
27,-2.784658,5.825409,0.007447,1.957864,1,1,1
28,-2.574459,5.599093,0.028452,1.954338,1,1,1
...,...,...,...,...,...,...,...
2729,5.284534,-5.954888,1.962560,0.002266,0,0,0
2730,4.911831,-5.589746,1.951874,0.001502,0,0,0
2734,-2.891952,5.763986,0.001604,1.929383,1,1,1
2735,-2.285798,5.668227,0.008553,1.960932,1,1,1
2737,-2.277760,5.606550,0.010047,1.973817,1,1,1

In [38]:
f1_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9505376344086022

In [39]:
precision_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9208333333333333

In [40]:
recall_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9822222222222222

In [41]:
#inconsistent cases (logtis prediction != distance prediction)

In [42]:
df_inconsistency = df

In [43]:
df_consistency = df[df.predict_label==df.distance_label]

In [44]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

In [45]:
df[abs(df.undermine_score-df.support_score)>11.7]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
58,-6.740227,6.935597,0.017248,1.656932,1,1,1
87,-6.699821,6.198657,0.017356,1.790910,1,1,1
185,7.776163,-5.735231,1.865803,0.175052,0,0,0
187,8.175444,-6.853647,1.905149,0.082175,0,0,0
188,7.822188,-5.983000,1.871615,0.071257,0,0,0
...,...,...,...,...,...,...,...
2761,7.405044,-6.452584,1.447262,0.201506,0,0,0
2762,6.648351,-6.019004,1.416802,0.236846,0,0,0
2763,6.778597,-5.306126,1.339745,0.412176,0,0,0
2766,7.552144,-6.467586,1.450673,0.491035,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0

In [46]:
df[abs(df.cp_distance-df.cop_distance)>1.7]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
8,-2.915035,5.855358,0.004241,1.868177,1,1,1
14,4.973082,-5.446892,1.975014,0.038279,0,0,0
...,...,...,...,...,...,...,...
2735,-2.285798,5.668227,0.008553,1.960932,1,1,1
2736,-2.583144,6.087638,0.034917,1.913892,1,1,1
2737,-2.277760,5.606550,0.010047,1.973817,1,1,1
2740,-2.799630,5.131019,0.060273,1.893408,1,1,0
2751,10.904087,-9.416132,1.907659,0.099717,0,0,0

In [47]:
#triplet test set

In [48]:
df_origin = pd.read_csv("../stance_code/Dataset/tri_test.tsv", delimiter="\t")

In [49]:
#combine triplet test set with eval results

In [50]:
incons_out = df_inconsistency.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [51]:
# incons_out.to_csv("inconsistency_data.csv",index=False)

In [52]:
# incons_out.to_excel("inconsistency_data.xlsx")

In [53]:
accuracy_score(df_inconsistency.gold,df_inconsistency.predict_label)

0.7944464478903714

In [54]:
# distance_correct_logits_wrong

In [55]:
df_distance_correct_logits_wrong = df[(df.distance_label==df.gold)&(df.predict_label!=df.gold)]

In [56]:
df_distance_correct_logits_wrong

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
61,6.975863,-2.372392,1.920776,1.928768,0,1,1
77,1.812300,-0.927047,1.096693,1.661179,0,1,1
83,2.363664,-1.478531,1.179334,1.422178,0,1,1
89,5.189340,-5.870834,1.708071,1.780854,0,1,1
116,-2.283030,2.307269,0.426038,0.200011,1,0,0
...,...,...,...,...,...,...,...
2674,-3.825589,5.084303,0.037229,0.004001,1,0,0
2707,4.006112,-1.870267,1.650200,1.766552,0,1,1
2715,1.276656,-1.107606,1.218479,1.468761,0,1,1
2724,-3.776413,2.909049,0.075312,0.017392,1,0,0
2757,0.033896,-0.449516,0.755636,1.142089,0,1,1

In [57]:
# combine distance_correct_logits_wrong with test set

In [58]:
dcorrect_lwrong_out = df_distance_correct_logits_wrong.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [59]:
dcorrect_lwrong_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
61,6.975863,-2.372392,1.920776,1.928768,0,1,1,0.0,Chess must be at the Olympics,Opening up the Olympics for borderline sports ...,Opening up the Olympics for borderline sports ...
77,1.812300,-0.927047,1.096693,1.661179,0,1,1,0.0,Federal States are better than unitary nations,Federal governments often extend their powers ...,Federal governments often extend their powers ...
83,2.363664,-1.478531,1.179334,1.422178,0,1,1,1.0,The Catholic Church needs reform,"Clerical rape of children is, in part, due to ...","Clerical rape of children is not , in part, du..."
89,5.189340,-5.870834,1.708071,1.780854,0,1,1,0.0,Positive Discrimination Towards Women in Socie...,Will Cause Resentment Between Men and Women,will not Cause Resentment Between Men and Women
116,-2.283030,2.307269,0.426038,0.200011,1,0,0,1.0,College education is worth it,College graduates are more likely to have heal...,College graduates are not more likely to have ...
...,...,...,...,...,...,...,...,...,...,...,...
2674,-3.825589,5.084303,0.037229,0.004001,1,0,0,NaN,NaN,NaN,NaN
2707,4.006112,-1.870267,1.650200,1.766552,0,1,1,NaN,NaN,NaN,NaN
2715,1.276656,-1.107606,1.218479,1.468761,0,1,1,NaN,NaN,NaN,NaN
2724,-3.776413,2.909049,0.075312,0.017392,1,0,0,NaN,NaN,NaN,NaN
2757,0.033896,-0.449516,0.755636,1.142089,0,1,1,NaN,NaN,NaN,NaN

In [60]:
# dcorrect_lwrong_out.to_csv("dcorrect_lwrong_data.csv")

In [61]:
# dcorrect_lwrong_out.to_excel("dcorrect_lwrong_data.xlsx")

In [62]:
#distance_wrong_logits_correct

In [63]:
df_distance_wrong_logits_correct = df[(df.distance_label!=df.gold)&(df.predict_label==df.gold)]

In [64]:
df_distance_wrong_logits_correct

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
86,-0.142597,0.318115,0.313459,0.120503,1,0,1
93,4.976699,-0.766726,1.319132,1.789118,0,1,0
107,6.664764,-2.338005,1.957810,1.962720,0,1,0
...,...,...,...,...,...,...,...
2723,1.438328,0.848351,1.115165,1.629890,0,1,0
2747,0.627612,-0.557652,0.694943,1.455035,0,1,0
2750,2.762536,-1.856774,0.735328,0.786035,0,1,0
2764,4.751646,-4.940454,1.377189,1.950074,0,1,0
2767,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [65]:
#combine distance_wrong_logits_correct with test set

In [66]:
dwrong_lcorrect_out = df_distance_wrong_logits_correct.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [67]:
dwrong_lcorrect_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1.0,School Day Should Be Extended,Lessons would feel less broken.,Lessons would not feel less broken.
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,1.0,School Day Should Be Extended,Less need for homework.,More need for homework.
86,-0.142597,0.318115,0.313459,0.120503,1,0,1,1.0,The Catholic Church needs reform,Too much responsibility on the Pope,Too little responsibility on the Pope
93,4.976699,-0.766726,1.319132,1.789118,0,1,0,1.0,Positive Discrimination Towards Women in Socie...,Due to physical difference between men and wom...,Due not to physical difference between men and...
107,6.664764,-2.338005,1.957810,1.962720,0,1,0,0.0,College education is worth it,Many people succeed without college degrees.,Many people succeed with college degrees.
...,...,...,...,...,...,...,...,...,...,...,...
2723,1.438328,0.848351,1.115165,1.629890,0,1,0,NaN,NaN,NaN,NaN
2747,0.627612,-0.557652,0.694943,1.455035,0,1,0,NaN,NaN,NaN,NaN
2750,2.762536,-1.856774,0.735328,0.786035,0,1,0,NaN,NaN,NaN,NaN
2764,4.751646,-4.940454,1.377189,1.950074,0,1,0,NaN,NaN,NaN,NaN
2767,3.317570,-3.755074,1.281456,1.372968,0,1,0,NaN,NaN,NaN,NaN

In [68]:
# dwrong_lcorrect_out.to_csv("dwrong_lcorrect_data.csv")

In [69]:
# dwrong_lcorrect_out.to_excel("dwrong_lcorrect_data.xlsx")

In [70]:
#dcorrect_lwrong_out cases

In [71]:
dcorrect_lwrong_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
61,6.975863,-2.372392,1.920776,1.928768,0,1,1,0.0,Chess must be at the Olympics,Opening up the Olympics for borderline sports ...,Opening up the Olympics for borderline sports ...
77,1.812300,-0.927047,1.096693,1.661179,0,1,1,0.0,Federal States are better than unitary nations,Federal governments often extend their powers ...,Federal governments often extend their powers ...
83,2.363664,-1.478531,1.179334,1.422178,0,1,1,1.0,The Catholic Church needs reform,"Clerical rape of children is, in part, due to ...","Clerical rape of children is not , in part, du..."
89,5.189340,-5.870834,1.708071,1.780854,0,1,1,0.0,Positive Discrimination Towards Women in Socie...,Will Cause Resentment Between Men and Women,will not Cause Resentment Between Men and Women
116,-2.283030,2.307269,0.426038,0.200011,1,0,0,1.0,College education is worth it,College graduates are more likely to have heal...,College graduates are not more likely to have ...
...,...,...,...,...,...,...,...,...,...,...,...
2674,-3.825589,5.084303,0.037229,0.004001,1,0,0,NaN,NaN,NaN,NaN
2707,4.006112,-1.870267,1.650200,1.766552,0,1,1,NaN,NaN,NaN,NaN
2715,1.276656,-1.107606,1.218479,1.468761,0,1,1,NaN,NaN,NaN,NaN
2724,-3.776413,2.909049,0.075312,0.017392,1,0,0,NaN,NaN,NaN,NaN
2757,0.033896,-0.449516,0.755636,1.142089,0,1,1,NaN,NaN,NaN,NaN

In [72]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).median()

0.17563215

In [73]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).mean()

0.24687600957006847

In [74]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).max()

1.0906459599999998

In [75]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).min()

0.0007354019999999996

In [76]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).median()

4.87744365

In [77]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).mean()

4.734498698353424

In [78]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).max()

12.956747499999999

In [79]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).min()

0.009783112999999996

In [80]:
#dwrong_lcorrect_out cases

In [81]:
dwrong_lcorrect_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1.0,School Day Should Be Extended,Lessons would feel less broken.,Lessons would not feel less broken.
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,1.0,School Day Should Be Extended,Less need for homework.,More need for homework.
86,-0.142597,0.318115,0.313459,0.120503,1,0,1,1.0,The Catholic Church needs reform,Too much responsibility on the Pope,Too little responsibility on the Pope
93,4.976699,-0.766726,1.319132,1.789118,0,1,0,1.0,Positive Discrimination Towards Women in Socie...,Due to physical difference between men and wom...,Due not to physical difference between men and...
107,6.664764,-2.338005,1.957810,1.962720,0,1,0,0.0,College education is worth it,Many people succeed without college degrees.,Many people succeed with college degrees.
...,...,...,...,...,...,...,...,...,...,...,...
2723,1.438328,0.848351,1.115165,1.629890,0,1,0,NaN,NaN,NaN,NaN
2747,0.627612,-0.557652,0.694943,1.455035,0,1,0,NaN,NaN,NaN,NaN
2750,2.762536,-1.856774,0.735328,0.786035,0,1,0,NaN,NaN,NaN,NaN
2764,4.751646,-4.940454,1.377189,1.950074,0,1,0,NaN,NaN,NaN,NaN
2767,3.317570,-3.755074,1.281456,1.372968,0,1,0,NaN,NaN,NaN,NaN

In [82]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).median()

0.0881546000000002

In [83]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).mean()

0.17496296373280334

In [84]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).max()

1.0653685

In [85]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).min()

8.82149999999974e-06

In [86]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).median()

6.7218744

In [87]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).mean()

6.365578953920502

In [88]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).max()

18.714413999999998

In [89]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).min()

0.115963

In [90]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>7)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)<0.1)]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
15,6.702568,-2.567696,1.940552,1.864902,0,0,0
16,6.727525,-2.691421,1.960978,1.921587,0,0,0
19,6.421700,-2.538338,1.935928,1.874516,0,0,0
...,...,...,...,...,...,...,...
2694,6.435262,-2.186800,1.926149,1.855757,0,0,0
2701,6.721829,-2.205944,1.901909,1.966940,0,1,0
2702,7.082847,-2.664161,1.979934,1.961441,0,0,0
2703,6.413897,-2.879239,1.971946,1.878633,0,0,0
2767,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [91]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>7)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)<0.1)&(df_inconsistency.predict_label==df_inconsistency.gold)]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
15,6.702568,-2.567696,1.940552,1.864902,0,0,0
16,6.727525,-2.691421,1.960978,1.921587,0,0,0
19,6.421700,-2.538338,1.935928,1.874516,0,0,0
...,...,...,...,...,...,...,...
2694,6.435262,-2.186800,1.926149,1.855757,0,0,0
2701,6.721829,-2.205944,1.901909,1.966940,0,1,0
2702,7.082847,-2.664161,1.979934,1.961441,0,0,0
2703,6.413897,-2.879239,1.971946,1.878633,0,0,0
2767,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [92]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<3)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>0.15)].count()

undermine_score    177
support_score      177
cp_distance        177
cop_distance       177
predict_label      177
distance_label     177
gold               177
dtype: int64

In [93]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<3)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>0.15)&(df_inconsistency.distance_label==df_inconsistency.gold)].count()

undermine_score    113
support_score      113
cp_distance        113
cop_distance       113
predict_label      113
distance_label     113
gold               113
dtype: int64

In [94]:
#consistent failed cases

In [95]:
df_consistency[df_consistency.predict_label!=df_consistency.gold]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
48,-2.267228,5.343608,0.012838,1.899688,1,1,0
53,5.155417,-4.237434,1.868408,0.744416,0,0,1
56,3.537244,-2.157459,1.688211,0.791399,0,0,1
65,-2.482541,5.729583,0.023178,1.951421,1,1,0
75,-1.777928,3.380207,0.037513,1.812792,1,1,0
...,...,...,...,...,...,...,...
2719,-0.591194,0.761670,0.984307,1.508494,1,1,0
2721,-2.753186,5.986932,0.026087,1.973855,1,1,0
2740,-2.799630,5.131019,0.060273,1.893408,1,1,0
2741,4.596515,-1.639086,1.612404,1.563472,0,0,1
2760,-4.478123,5.309143,0.055088,1.329715,1,1,0

In [96]:
df_consistency_failed = df_consistency[df_consistency.predict_label!=df_consistency.gold]

In [97]:
cons_out_failed = df_consistency_failed.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [98]:
cons_out_failed

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
48,-2.267228,5.343608,0.012838,1.899688,1,1,0,0.0,Make all museums free of charge,We should not expect the state to fund museums,We should expect the state to fund museums
53,5.155417,-4.237434,1.868408,0.744416,0,0,1,1.0,Make all museums free of charge,Free museums encourage attendance,Free museums discourage attendance
56,3.537244,-2.157459,1.688211,0.791399,0,0,1,1.0,Sports initiations should be banned,Encourages binge drinking and bullying,discourage binge drinking and bullying
65,-2.482541,5.729583,0.023178,1.951421,1,1,0,1.0,Chess must be at the Olympics,Chess is popular worldwide and should be an Ol...,Chess is not popular worldwide and should be a...
75,-1.777928,3.380207,0.037513,1.812792,1,1,0,1.0,Federal States are better than unitary nations,Being a federal state helps large states deal ...,Being a federal state spoil large states deal ...
...,...,...,...,...,...,...,...,...,...,...,...
2719,-0.591194,0.761670,0.984307,1.508494,1,1,0,NaN,NaN,NaN,NaN
2721,-2.753186,5.986932,0.026087,1.973855,1,1,0,NaN,NaN,NaN,NaN
2740,-2.799630,5.131019,0.060273,1.893408,1,1,0,NaN,NaN,NaN,NaN
2741,4.596515,-1.639086,1.612404,1.563472,0,0,1,NaN,NaN,NaN,NaN
2760,-4.478123,5.309143,0.055088,1.329715,1,1,0,NaN,NaN,NaN,NaN

In [99]:
# cons_out_failed.to_csv("consistency_failed_data.csv")

In [100]:
# cons_out_failed.to_excel("consistency_failed_data.xlsx")

In [101]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).median()

1.2623038600000003

In [102]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).mean()

1.108146907536085

In [103]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).max()

1.9830208523

In [104]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).min()

0.0013897000000000492

In [105]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).median()

7.7076484

In [106]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).mean()

7.546720319971698

In [107]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).max()

17.366639999999997

In [108]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).min()

0.08601858999999998

In [109]:
df_consistency_correct = df_consistency[df_consistency.predict_label==df_consistency.gold]

In [110]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).median()

9.000490450000001

In [111]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).mean()

9.576355292898777

In [112]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).max()

23.471

In [113]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).min()

0.018043279999999995

In [114]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).median()

1.6018183540000002

In [115]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).mean()

1.3154062981578767

In [116]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).max()

1.9834033666000002

In [117]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).min()

0.00021850000000001035

In [118]:
#consistent cases

In [119]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

In [120]:
# df_consistency.to_csv("consistency_data.csv",index=False)

In [121]:
# df_consistency.to_excel("consistency_data.xlsx",index=False)

In [122]:
#consistent cases analysis

In [123]:
consistent_logits_median = abs(df_consistency.undermine_score-df_consistency.support_score).median()
consistent_logits_median

8.793939600000002

In [124]:
consistent_logits_mean = abs(df_consistency.undermine_score-df_consistency.support_score).mean()
consistent_logits_mean

9.215984594188107

In [125]:
consistent_logits_max =abs(df_consistency.undermine_score-df_consistency.support_score).max()
consistent_logits_max

23.471

In [126]:
consistent_logits_min = abs(df_consistency.undermine_score-df_consistency.support_score).min()
consistent_logits_min

0.018043279999999995

In [127]:
consistent_distance_median = abs(df_consistency.cp_distance-df_consistency.cop_distance).median()
consistent_distance_median

1.5378068550000001

In [128]:
consistent_distance_mean = abs(df_consistency.cp_distance-df_consistency.cop_distance).mean()
consistent_distance_mean

1.2786064733573577

In [129]:
consistent_distance_max = abs(df_consistency.cp_distance-df_consistency.cop_distance).max()
consistent_distance_max

1.9834033666000002

In [130]:
consistent_distance_min = abs(df_consistency.cp_distance-df_consistency.cop_distance).min()
consistent_distance_min

0.00021850000000001035

In [131]:
#inconsistent cases analysis

In [132]:
inconsistent_logits_median = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).median()
inconsistent_logits_median

8.5231578

In [133]:
inconsistent_logits_mean = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).mean()
inconsistent_logits_mean

8.734360400601442

In [134]:
inconsistent_logits_max = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).max()
inconsistent_logits_max

23.471

In [135]:
inconsistent_logits_min = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).min()
inconsistent_logits_min

0.009783112999999996

In [136]:
inconsistent_distance_median = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).median()
inconsistent_distance_median

1.32378891

In [137]:
inconsistent_distance_mean = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).mean()
inconsistent_distance_mean

1.1291641918884745

In [138]:
inconsistent_distance_max = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).max()
inconsistent_distance_max

1.9834033666000002

In [139]:
inconsistent_distance_min = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).min()
inconsistent_distance_min

8.82149999999974e-06

In [140]:
# Use the "distance to median" to decide final prediction

In [141]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

In [142]:
dwrong_lcorrect_logits_median = abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).median()
dwrong_lcorrect_logits_mean = abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).mean()

In [143]:
# dcorrect_lwrong_logits_median = abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).median()

In [144]:
# dwrong_lcorrect_distance_median = abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).median()

In [145]:
dcorrect_lwrong_distance_median = abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).median()
dcorrect_lwrong_distance_mean = abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).mean()

In [146]:
distance_to_logits_median = abs(df_inconsistency.undermine_score-df_inconsistency.support_score)-inconsistent_logits_median
distance_to_logits_mean = abs(df_inconsistency.undermine_score-df_inconsistency.support_score)-inconsistent_logits_mean

In [147]:
df_inconsistency["distance_to_logtis"] = (distance_to_logits_median-distance_to_logits_median.min())/(distance_to_logits_median.max()-distance_to_logits_median.min())

In [148]:
# df_inconsistency["distance_to_logtis"] = (distance_to_logits_mean-distance_to_logits_mean.min())/(distance_to_logits_mean.max()-distance_to_logits_mean.min())

In [149]:
distance_to_logits_median.max()

14.9478422

In [150]:
distance_to_logits_mean.max()

14.736639599398558

In [151]:
distance_to_distance_median = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)-inconsistent_distance_median
distance_to_distance_mean = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)-inconsistent_distance_mean

In [152]:
(distance_to_distance_median-distance_to_distance_median.min())/(distance_to_distance_median.max()-distance_to_distance_median.min())

0       0.003593
1       0.968960
2       0.002980
3       0.060214
4       0.780935
          ...
2768    0.066080
2769    0.615120
2770    0.428487
2771    0.447891
2772    0.025323
Length: 2773, dtype: float64

In [153]:
(distance_to_distance_median.max()-distance_to_distance_median.min())

1.9833945451000001

In [154]:
(distance_to_distance_mean-distance_to_distance_mean.min())/(distance_to_distance_mean.max()-distance_to_distance_mean.min())

0       0.003593
1       0.968960
2       0.002980
3       0.060214
4       0.780935
          ...
2768    0.066080
2769    0.615120
2770    0.428487
2771    0.447891
2772    0.025323
Length: 2773, dtype: float64

In [155]:
df_inconsistency["distance_to_distance"] = (distance_to_distance_median-distance_to_distance_median.min())/(distance_to_distance_median.max()-distance_to_distance_median.min())

In [156]:
# df_inconsistency["distance_to_distance"] = (distance_to_distance_mean-distance_to_distance_mean.min())/(distance_to_distance_mean.max()-distance_to_distance_mean.min())

In [157]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003593
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,0.464116,0.968960
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002980
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060214
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780935
...,...,...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.157009,0.066080
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0,0.521099,0.615120
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1,0.228294,0.428487
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1,0.264196,0.447891
2772,0.692743,0.942525,0.609729,0.659963,1,1,1,0.010230,0.025323

In [158]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

In [159]:
import flyingsquid
from numpy.random import seed, rand
import itertools
import numpy as np

In [160]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003593
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,0.464116,0.968960
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002980
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060214
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780935
...,...,...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.157009,0.066080
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0,0.521099,0.615120
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1,0.228294,0.428487
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1,0.264196,0.447891
2772,0.692743,0.942525,0.609729,0.659963,1,1,1,0.010230,0.025323

In [161]:
df_inconsistency[abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<9.7]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003593
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002980
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060214
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780935
5,-2.957279,5.612340,0.010343,1.754936,1,1,1,0.364850,0.879595
...,...,...,...,...,...,...,...,...,...
2767,3.317570,-3.755074,1.281456,1.372968,0,1,0,0.301044,0.046134
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.157009,0.066080
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1,0.228294,0.428487
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1,0.264196,0.447891
2772,0.692743,0.942525,0.609729,0.659963,1,1,1,0.010230,0.025323

In [162]:
df_inconsistency["snorkel_logits_17"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_17==0 else 1, axis=1)
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<3.7  else x.snorkel_logits_17, axis=1)

In [163]:
df_inconsistency["snorkel_logits_37"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_37==0 else 1, axis=1)
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<5.7  else x.snorkel_logits_37, axis=1)

In [164]:
df_inconsistency["snorkel_logits_57"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_57==0 else 1, axis=1)
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<8.7  else x.snorkel_logits_57, axis=1)

In [165]:
df_inconsistency["snorkel_logits_77"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_77==0 else 1, axis=1)
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<9.8  else x.snorkel_logits_77, axis=1)

In [166]:
df_inconsistency["snorkel_logits_97"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_97==0 else 1, axis=1)
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<12.7  else x.snorkel_logits_97, axis=1)

In [167]:
df_inconsistency["snorkel_distance_01"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_01==0 else 1, axis=1)
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.4  else x.snorkel_distance_01, axis=1)

In [168]:
df_inconsistency["snorkel_distance_03"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_03==0 else 1, axis=1)
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1  else x.snorkel_distance_03, axis=1)

In [169]:
df_inconsistency["snorkel_distance_05"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_05==0 else 1, axis=1)
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.4  else x.snorkel_distance_05, axis=1)

In [170]:
df_inconsistency["snorkel_distance_07"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_07==0 else 1, axis=1)
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.6  else x.snorkel_distance_07, axis=1)

In [171]:
df_inconsistency["snorkel_distance_09"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_09==0 else 1, axis=1)
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.9  else x.snorkel_distance_09, axis=1)

In [172]:
df_inconsistency["snorkel_label"]=df_inconsistency.gold
df_inconsistency.snorkel_label = df_inconsistency.apply(lambda x: -1 if x.snorkel_label==0 else 1, axis=1)

In [173]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09,snorkel_label
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003593,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,0.464116,0.968960,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002980,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060214,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780935,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.157009,0.066080,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0,0.521099,0.615120,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,0.0,0.0,0.0,-1
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1,0.228294,0.428487,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1,0.264196,0.447891,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1,0.010230,0.025323,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [174]:
df_inconsistency.to_csv("the_whole_finetuned_L_train_entiretest.csv", index=False)

In [32]:
L_dev

array([[ 0.,  0., -1.,  1.,  1.],
       [ 0.,  0., -1.,  1.,  1.],
       [ 0.,  0., -1., -1.,  0.],
       ...,
       [ 0.,  0., -1.,  0., -1.],
       [ 0.,  0.,  0., -1., -1.],
       [ 0.,  0.,  1.,  0.,  0.]])

In [33]:
Y_dev

array([ 1., -1., -1., -1., -1.,  1., -1., -1., -1.,  1.,  1., -1.,  1.,
       -1.,  1., -1., -1., -1.,  1., -1.,  1.,  1., -1.,  1., -1.,  1.,
        1., -1., -1., -1., -1., -1.,  1.,  1., -1.,  1., -1., -1.,  1.,
        1.,  1., -1.,  1.,  1., -1., -1., -1.,  1., -1., -1., -1., -1.,
        1., -1.,  1.,  1., -1., -1., -1.,  1., -1.,  1.,  1.,  1., -1.,
       -1., -1., -1., -1.,  1., -1., -1., -1.,  1., -1., -1., -1.,  1.,
       -1., -1.,  1., -1., -1., -1.,  1., -1.,  1., -1.,  1.,  1., -1.,
        1., -1., -1.,  1., -1., -1., -1., -1.,  1.,  1., -1., -1., -1.,
        1., -1.,  1., -1., -1., -1., -1.,  1., -1., -1., -1., -1., -1.,
       -1., -1., -1., -1.,  1.,  1.,  1., -1.,  1.,  1.,  1., -1.,  1.,
        1., -1., -1.,  1.,  1., -1.,  1.,  1.,  1., -1.,  1.,  1.,  1.,
        1., -1.,  1., -1., -1., -1., -1.,  1., -1., -1.,  1.,  1., -1.,
       -1., -1., -1.,  1.,  1.,  1.,  1., -1., -1., -1.,  1., -1., -1.,
       -1.,  1., -1.,  1.,  1., -1., -1., -1.,  1., -1.,  1., -1., -1.,
        1., -1.,  1., -1.,  1.,  1.,  1.,  1., -1., -1., -1., -1.,  1.,
       -1.,  1.,  1., -1.,  1.,  1.,  1., -1., -1., -1., -1., -1.,  1.,
        1., -1.,  1.,  1.,  1.,  1., -1.,  1., -1., -1., -1., -1., -1.,
       -1., -1.,  1., -1., -1., -1.,  1.,  1., -1., -1.,  1.,  1.,  1.,
        1.,  1., -1.,  1.,  1.,  1., -1., -1.,  1.,  1.,  1., -1., -1.,
       -1.,  1., -1.,  1.,  1.,  1., -1., -1., -1., -1.,  1., -1.,  1.,
        1., -1.,  1., -1.,  1., -1.,  1., -1.,  1., -1.,  1.,  1.,  1.,
        1., -1., -1., -1.,  1., -1., -1.,  1.,  1., -1., -1., -1., -1.,
        1., -1., -1., -1., -1., -1.,  1.,  1., -1.,  1., -1., -1., -1.,
       -1.,  1., -1.,  1., -1.,  1., -1., -1., -1., -1.,  1.,  1.,  1.,
        1., -1.,  1.,  1.,  1.,  1., -1., -1., -1., -1.,  1.,  1.,  1.,
        1.,  1.,  1., -1.,  1., -1.,  1.,  1.,  1.,  1.,  1., -1., -1.,
        1., -1., -1., -1.,  1., -1., -1., -1., -1., -1.,  1.,  1.,  1.,
        1., -1., -1.,  1., -1.,  1., -1., -1., -1.,  1., -1.,  1.,  1.,
        1., -1., -1.,  1., -1., -1.,  1.,  1., -1., -1., -1.,  1.,  1.,
        1.,  1., -1., -1.,  1.,  1., -1., -1., -1., -1.,  1., -1.,  1.,
       -1., -1., -1., -1., -1., -1., -1., -1., -1.,  1.,  1.,  1.,  1.,
       -1.,  1.,  1., -1.,  1.,  1., -1., -1.,  1., -1.,  1., -1., -1.,
        1.,  1.,  1.,  1.,  1.,  1., -1.,  1., -1., -1., -1., -1., -1.,
        1.,  1.,  1., -1.,  1., -1.,  1.,  1., -1., -1., -1.,  1., -1.,
       -1.,  1.,  1.,  1., -1.,  1.,  1., -1.,  1.,  1., -1., -1.,  1.,
       -1., -1.,  1., -1., -1., -1.,  1.,  1., -1.,  1.,  1.,  1., -1.,
       -1., -1.,  1., -1., -1.,  1.,  1., -1.,  1., -1., -1., -1., -1.,
        1.,  1.,  1.,  1.,  1., -1., -1.,  1.,  1., -1.,  1.,  1.,  1.,
        1., -1.,  1., -1.,  1.,  1.])