In [51]:
import pandas as pd

In [52]:
raw_score = pd.read_csv('D:/Projects/Stance/Evaluation/bert_dummy_output/test_raw_score.csv')
raw_score

      undermine_score  support_score  predict_label  gold
0           -2.066634       1.661562              1     0
1           -2.732420       2.314925              1     1
2           -1.558253       1.157300              1     1
3           -0.582713       0.191088              1     1
4           -3.129211       2.640920              1     1
...               ...            ...            ...   ...
2767        -2.552777       2.043076              1     0
2768        -0.567887       0.162365              1     0
2769         0.195798      -0.263567              0     1
2770         0.549832      -0.668260              0     1
2771        -0.027653      -0.043925              0     1

[2772 rows x 4 columns]

In [57]:
gold = pd.read_csv('D:/Projects/Stance/Dataset/test.tsv', sep='\t',header=None)
gold.columns=['original_label','x','y', 'claims','perpectives']
gold.drop([0],axis=0, inplace=True)
gold = gold.reset_index(drop=True)

In [72]:
result = pd.concat([gold,raw_score], axis=1)
result.drop(['x','y','original_label'],axis=1,inplace=True)
result = result.rename(columns={'gold':'gold_label'})

In [74]:
failed_result = result[result['predict_label']!=result['gold_label']]
failed_result_gold_1 = failed_result[failed_result['gold_label'] == 1]
failed_result_gold_0 = failed_result[failed_result['gold_label'] == 0]

In [83]:
# failed_result.to_csv('D:/Projects/Stance/Evaluation/Examples/failed.csv')
failed_result.to_excel('D:/Projects/Stance/Evaluation/Examples/failed.xlsx')

In [86]:
# failed_result_gold_1.to_csv('D:/Projects/Stance/Evaluation/Examples/failed_gold_1.csv')
failed_result_gold_1.to_excel('D:/Projects/Stance/Evaluation/Examples/failed_gold_1.xlsx')

In [89]:
# failed_result_gold_0.to_csv('D:/Projects/Stance/Evaluation/Examples/failed_gold_0.csv')
failed_result_gold_0.to_excel('D:/Projects/Stance/Evaluation/Examples/failed_gold_0.xlsx')