In [1]:
import pandas as pd

## Bert Related Eval Results

In [2]:
df = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/bert_base_bs32_lr2e_5_epoch4_raw_score.csv")

In [3]:
df

      undermine_score  support_score  predict_label  gold
0           -3.120266       3.146689              1     1
1           -1.417848       1.625434              1     0
2           -2.544775       2.716588              1     1
3            0.655416      -0.446708              0     1
4            0.865310      -0.591936              0     1
...               ...            ...            ...   ...
2768        -3.130517       2.797219              1     0
2769         0.344362      -0.042596              0     0
2770         1.233127      -1.583184              0     1
2771         2.553239      -2.488668              0     1
2772         0.110734      -0.186051              0     1

[2773 rows x 4 columns]

In [4]:
recall = len(df[df.gold==1][df.predict_label==1])/(len(df[df.gold==1]))
recall

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7260367097212781

In [5]:
len(df[df.gold==0][df.predict_label==0])/(len(df[df.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7027649769585254

In [6]:
precision = len(df[df.gold==1][df.predict_label==1])/(len(df[df.predict_label==1]))
precision

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.734020618556701

In [7]:
2*(precision*recall)/(precision+recall)

0.7300068352699932

In [8]:
df_qua_cons = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/bert_sia_cos_bs24_lr2e_5_epoch25_raw_score.csv")

In [9]:
len(df_qua_cons[df_qua_cons.gold==1][df_qua_cons.predict_label==1])/(len(df_qua_cons[df_qua_cons.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.8048946295037389

In [10]:
len(df_qua_cons[df_qua_cons.gold==0][df_qua_cons.predict_label==0])/(len(df_qua_cons[df_qua_cons.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7772657450076805

In [11]:
df_stancy = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/non_reverse_bert_cons_epoch5_raw_score.csv")

In [12]:
len(df_stancy[df_stancy.gold==1][df_stancy.predict_label==1])/(len(df_stancy[df_stancy.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7858599592114208

In [13]:
len(df_stancy[df_stancy.gold==0][df_stancy.predict_label==0])/(len(df_stancy[df_stancy.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7211981566820277

In [14]:
df_ant = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/fuse_cosloss_1033033033_2e5_neg_siamese_bert_epoch50_raw_score.csv")

In [15]:
len(df_ant[df_ant.gold==1][df_ant.predict_label==1])/(len(df_ant[df_ant.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7766295707472178

In [16]:
len(df_ant[df_ant.gold==0][df_ant.predict_label==0])/(len(df_ant[df_ant.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7438811188811189

In [17]:
df_base_sub = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/onnew_neg_bert_base_raw_score.csv")

In [18]:
len(df_base_sub[df_base_sub.gold==1][df_base_sub.predict_label==1])/(len(df_base_sub[df_base_sub.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.6836248012718601

In [19]:
len(df_base_sub[df_base_sub.gold==0][df_base_sub.predict_label==0])/(len(df_base_sub[df_base_sub.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7097902097902098

In [20]:
df_stancy_sub = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/onnew_neg_bert_cons_epoch5_raw_score.csv")

In [21]:
len(df_stancy_sub[df_stancy_sub.gold==1][df_stancy_sub.predict_label==1])/(len(df_stancy_sub[df_stancy_sub.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7488076311605724

In [22]:
len(df_stancy_sub[df_stancy_sub.gold==0][df_stancy_sub.predict_label==0])/(len(df_stancy_sub[df_stancy_sub.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7482517482517482

In [23]:
df_qua_sub = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/new_neg_bert_sia_cos_bs24_lr2e_5_epoch30_raw_score.csv")

In [24]:
len(df_qua_sub[df_qua_sub.gold==1][df_qua_sub.predict_label==1])/(len(df_qua_sub[df_qua_sub.gold==1]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7853736089030207

In [25]:
len(df_qua_sub[df_qua_sub.gold==0][df_qua_sub.predict_label==0])/(len(df_qua_sub[df_qua_sub.gold==0]))

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.7709790209790209

## Triplet Bert Related Eval Results

In [26]:
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

In [27]:
# Triplet cos siamese bert

In [28]:
df = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/distance_concat_margin1_costriplet_cos_siamese_bs24_lr2e_5_epoch15_raw_score.csv")

In [29]:
df

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

In [30]:
#logits evaluation results

In [31]:
f1_score(df.gold,df.predict_label)

0.8033536585365854

In [32]:
precision_score(df.gold,df.predict_label)

0.8132716049382716

In [33]:
recall_score(df.gold,df.predict_label)

0.7936746987951807

In [34]:
#distance evaluation results

In [35]:
f1_score(df.gold,df.distance_label)

0.7849223946784921

In [36]:
precision_score(df.gold,df.distance_label)

0.7706821480406386

In [37]:
recall_score(df.gold,df.distance_label)

0.7996987951807228

In [38]:
#consistent cases (logtis prediction == distance prediction)

In [39]:
df_consistency = df[df.predict_label==df.distance_label]

In [40]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

In [189]:
f1_score(df_consistency.gold,df_consistency.distance_label)

0.8353552859618716

In [190]:
precision_score(df_consistency.gold,df_consistency.distance_label)

0.8253424657534246

In [191]:
recall_score(df_consistency.gold,df_consistency.distance_label)

0.8456140350877193

In [185]:
df_logits_diff = df_consistency[abs(df_consistency.undermine_score-df_consistency.support_score)>5.7]
df_logits_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2518,6.778597,-5.306126,1.339745,0.412176,0,0,0
2519,6.098404,-4.817781,1.277633,0.138542,0,0,0
2520,7.552144,-6.467586,1.450673,0.491035,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1

In [186]:
f1_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8616480162767038

In [187]:
precision_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8634046890927625

In [188]:
recall_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8598984771573605

In [252]:
df_distance_diff = df_consistency[abs(df_consistency.cp_distance-df_consistency.cop_distance)>1.7]
df_distance_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
8,-2.915035,5.855358,0.004241,1.868177,1,1,1
14,4.973082,-5.446892,1.975014,0.038279,0,0,0
...,...,...,...,...,...,...,...
2491,-2.285798,5.668227,0.008553,1.960932,1,1,1
2492,-2.583144,6.087638,0.034917,1.913892,1,1,1
2493,-2.277760,5.606550,0.010047,1.973817,1,1,1
2496,-2.799630,5.131019,0.060273,1.893408,1,1,0
2507,10.904087,-9.416132,1.907659,0.099717,0,0,0

In [253]:
f1_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9076773566569486

In [254]:
precision_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.871268656716418

In [255]:
recall_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.947261663286004

In [44]:
#inconsistent cases (logtis prediction != distance prediction)

In [45]:
df_inconsistency = df[df.predict_label!=df.distance_label]

In [46]:
df_consistency = df[df.predict_label==df.distance_label]

In [47]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
59,6.975863,-2.372392,1.920776,1.928768,0,1,1
73,1.812300,-0.927047,1.096693,1.661179,0,1,1
78,2.363664,-1.478531,1.179334,1.422178,0,1,1
...,...,...,...,...,...,...,...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [48]:
#triplet test set

In [49]:
df_origin = pd.read_csv("../stance_code/Dataset/tri_test.tsv", delimiter="\t")

In [50]:
#combine triplet test set with eval results

In [51]:
incons_out = df_inconsistency.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [52]:
incons_out.to_csv("inconsistency_data.csv",index=False)

In [53]:
incons_out.to_excel("inconsistency_data.xlsx")

In [54]:
accuracy_score(df_inconsistency.gold,df_inconsistency.predict_label)

0.5976331360946746

In [55]:
# distance_correct_logits_wrong

In [56]:
df_distance_correct_logits_wrong = df[(df.distance_label==df.gold)&(df.predict_label!=df.gold)]

In [57]:
df_distance_correct_logits_wrong

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
59,6.975863,-2.372392,1.920776,1.928768,0,1,1
73,1.812300,-0.927047,1.096693,1.661179,0,1,1
78,2.363664,-1.478531,1.179334,1.422178,0,1,1
84,5.189340,-5.870834,1.708071,1.780854,0,1,1
110,-2.283030,2.307269,0.426038,0.200011,1,0,0
...,...,...,...,...,...,...,...
2434,-3.825589,5.084303,0.037229,0.004001,1,0,0
2465,4.006112,-1.870267,1.650200,1.766552,0,1,1
2473,1.276656,-1.107606,1.218479,1.468761,0,1,1
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1

In [58]:
# combine distance_correct_logits_wrong with test set

In [59]:
dcorrect_lwrong_out = df_distance_correct_logits_wrong.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [60]:
dcorrect_lwrong_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
59,6.975863,-2.372392,1.920776,1.928768,0,1,1,1,Chess must be at the Olympics,"Chess is currently not an Olympic sport, but i...","Chess is currently an Olympic sport, but it sh..."
73,1.812300,-0.927047,1.096693,1.661179,0,1,1,1,Federal States are better than unitary nations,Citizens are better protected in federal states.,Citizens are not better protected in federal s...
78,2.363664,-1.478531,1.179334,1.422178,0,1,1,1,Federal States are better than unitary nations,Federal states are economically stronger,Federal states are not economically stronger
84,5.189340,-5.870834,1.708071,1.780854,0,1,1,1,The Catholic Church needs reform,"If priests were not forced to be celibate, the...","If priests were forced to be celibate, the iss..."
110,-2.283030,2.307269,0.426038,0.200011,1,0,0,0,College education is worth it,Many college graduates are employed in jobs th...,Many college graduates are employed in jobs th...
...,...,...,...,...,...,...,...,...,...,...,...
2434,-3.825589,5.084303,0.037229,0.004001,1,0,0,0,Democracies should ban the display of communis...,Extremist movements are harmful and should not...,Extremist movements are harmful and should be ...
2465,4.006112,-1.870267,1.650200,1.766552,0,1,1,1,The outcome of the Paris Climate Conference ne...,An international treaty will legalize non-comp...,An international treaty will not legalize non-...
2473,1.276656,-1.107606,1.218479,1.468761,0,1,1,1,The House of Lords should be reformed,The House of Lords is out of touch with the el...,The House of Lords is not out of touch with th...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0,0,NATO has succeeded in Afghanistan,the taliban is waiting and likley to regain co...,the taliban is not waiting and likley to regai...
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1,1,Illegal downloaders should be cut off from the...,Internet access is an enabler of rights not a ...,Internet access is an enabler of rights a righ...

In [61]:
dcorrect_lwrong_out.to_csv("dcorrect_lwrong_data.csv")

In [62]:
dcorrect_lwrong_out.to_excel("dcorrect_lwrong_data.xlsx")

In [63]:
#distance_wrong_logits_correct

In [64]:
df_distance_wrong_logits_correct = df[(df.distance_label!=df.gold)&(df.predict_label==df.gold)]

In [65]:
df_distance_wrong_logits_correct

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
81,-0.142597,0.318115,0.313459,0.120503,1,0,1
88,4.976699,-0.766726,1.319132,1.789118,0,1,0
101,6.664764,-2.338005,1.957810,1.962720,0,1,0
...,...,...,...,...,...,...,...
2428,1.780620,0.518181,0.962062,1.407790,0,1,0
2479,1.438328,0.848351,1.115165,1.629890,0,1,0
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [66]:
#combine distance_wrong_logits_correct with test set

In [67]:
dwrong_lcorrect_out = df_distance_wrong_logits_correct.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [68]:
dwrong_lcorrect_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1,School Day Should Be Extended,Lessons would feel less broken.,Lessons would not feel less broken.
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,1,School Day Should Be Extended,Less need for homework.,More need for homework.
81,-0.142597,0.318115,0.313459,0.120503,1,0,1,1,The Catholic Church needs reform,The Catholic Church wants loyalty to instituti...,The Catholic Church wants loyalty to instituti...
88,4.976699,-0.766726,1.319132,1.789118,0,1,0,0,Positive Discrimination Towards Women in Socie...,"It is Men, Not Women, who are Disadvantaged in...","It is Men, Women, who are Disadvantaged in our..."
101,6.664764,-2.338005,1.957810,1.962720,0,1,0,0,Positive Discrimination Towards Women in Socie...,Positive discrimination takes away voters' fre...,negative discrimination takes away voters' fr...
...,...,...,...,...,...,...,...,...,...,...,...
2428,1.780620,0.518181,0.962062,1.407790,0,1,0,0,Democracies should ban the display of communis...,Society is ready to live with Nazi and Soviet ...,Society is not ready to live with Nazi and Sov...
2479,1.438328,0.848351,1.115165,1.629890,0,1,0,0,NATO has succeeded in Afghanistan,the taliban will likely resume their control o...,the taliban will not likely resume their contr...
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0,0,Illegal downloaders should be cut off from the...,"File-sharing will still happen, despite these ...","File-sharing will not still happen, despite th..."
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0,0,Illegal downloaders should be cut off from the...,Will file-sharing stop if downloaders are bann...,will not file-sharing stop if downloaders are...
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0,0,Illegal downloaders should be cut off from the...,Human rights are infringed if internet use is ...,Human rights are not infringed if internet use...

In [69]:
dwrong_lcorrect_out.to_csv("dwrong_lcorrect_data.csv")

In [70]:
dwrong_lcorrect_out.to_excel("dwrong_lcorrect_data.xlsx")

In [71]:
#stancy eval results

In [72]:
df_stancy =  pd.read_table("../stancy/paper_bert_dual_loss_15/eval_details.txt",header=None)

In [73]:
df_stancy

                                                0  1  2
0      [0.9985860586166382, 0.001413914724253118]  0  0
1     [0.0006979649187996984, 0.9993020296096802]  1  1
2     [0.9987192153930664, 0.0012808680767193437]  0  0
3     [0.9983559250831604, 0.0016440259059891105]  0  0
4      [0.9973260164260864, 0.002673997776582837]  0  0
...                                           ... .. ..
2768   [0.9971250891685486, 0.002874949248507619]  0  1
2769  [0.0006853992817923427, 0.9993146657943726]  1  1
2770    [0.03969154879450798, 0.9603084325790405]  1  0
2771  [0.0016762863378971815, 0.9983237385749817]  1  0
2772    [0.18177905678749084, 0.8182209134101868]  1  0

[2773 rows x 3 columns]

In [74]:
f1_score(df_stancy[1],df_stancy[2])

0.7776

In [75]:
precision_score(df_stancy[1],df_stancy[2])

0.7465437788018433

In [76]:
recall_score(df_stancy[1],df_stancy[2])

0.8113522537562604

In [77]:
df_stancy[df_stancy[1]==df_stancy[2]]

                                                0  1  2
0      [0.9985860586166382, 0.001413914724253118]  0  0
1     [0.0006979649187996984, 0.9993020296096802]  1  1
2     [0.9987192153930664, 0.0012808680767193437]  0  0
3     [0.9983559250831604, 0.0016440259059891105]  0  0
4      [0.9973260164260864, 0.002673997776582837]  0  0
...                                           ... .. ..
2763   [0.001166122849099338, 0.9988338351249695]  1  1
2764  [0.0010132481111213565, 0.9989867806434631]  1  1
2765  [0.0031348520424216986, 0.9968650937080383]  1  1
2766     [0.0007364643388427794, 0.9992635846138]  1  1
2769  [0.0006853992817923427, 0.9993146657943726]  1  1

[2217 rows x 3 columns]

In [78]:
#dcorrect_lwrong_out cases

In [79]:
dcorrect_lwrong_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
59,6.975863,-2.372392,1.920776,1.928768,0,1,1,1,Chess must be at the Olympics,"Chess is currently not an Olympic sport, but i...","Chess is currently an Olympic sport, but it sh..."
73,1.812300,-0.927047,1.096693,1.661179,0,1,1,1,Federal States are better than unitary nations,Citizens are better protected in federal states.,Citizens are not better protected in federal s...
78,2.363664,-1.478531,1.179334,1.422178,0,1,1,1,Federal States are better than unitary nations,Federal states are economically stronger,Federal states are not economically stronger
84,5.189340,-5.870834,1.708071,1.780854,0,1,1,1,The Catholic Church needs reform,"If priests were not forced to be celibate, the...","If priests were forced to be celibate, the iss..."
110,-2.283030,2.307269,0.426038,0.200011,1,0,0,0,College education is worth it,Many college graduates are employed in jobs th...,Many college graduates are employed in jobs th...
...,...,...,...,...,...,...,...,...,...,...,...
2434,-3.825589,5.084303,0.037229,0.004001,1,0,0,0,Democracies should ban the display of communis...,Extremist movements are harmful and should not...,Extremist movements are harmful and should be ...
2465,4.006112,-1.870267,1.650200,1.766552,0,1,1,1,The outcome of the Paris Climate Conference ne...,An international treaty will legalize non-comp...,An international treaty will not legalize non-...
2473,1.276656,-1.107606,1.218479,1.468761,0,1,1,1,The House of Lords should be reformed,The House of Lords is out of touch with the el...,The House of Lords is not out of touch with th...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0,0,NATO has succeeded in Afghanistan,the taliban is waiting and likley to regain co...,the taliban is not waiting and likley to regai...
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1,1,Illegal downloaders should be cut off from the...,Internet access is an enabler of rights not a ...,Internet access is an enabler of rights a righ...

In [80]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).median()

0.18335920000000006

In [81]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).mean()

0.24732256071492648

In [82]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).max()

1.0906459599999998

In [83]:
abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).min()

0.0007354019999999996

In [84]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).median()

4.69863785

In [85]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).mean()

4.6868113829088225

In [86]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).max()

12.956747499999999

In [87]:
abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).min()

0.009783112999999996

In [88]:
#dwrong_lcorrect_out cases

In [89]:
dwrong_lcorrect_out

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1,School Day Should Be Extended,Lessons would feel less broken.,Lessons would not feel less broken.
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,1,School Day Should Be Extended,Less need for homework.,More need for homework.
81,-0.142597,0.318115,0.313459,0.120503,1,0,1,1,The Catholic Church needs reform,The Catholic Church wants loyalty to instituti...,The Catholic Church wants loyalty to instituti...
88,4.976699,-0.766726,1.319132,1.789118,0,1,0,0,Positive Discrimination Towards Women in Socie...,"It is Men, Not Women, who are Disadvantaged in...","It is Men, Women, who are Disadvantaged in our..."
101,6.664764,-2.338005,1.957810,1.962720,0,1,0,0,Positive Discrimination Towards Women in Socie...,Positive discrimination takes away voters' fre...,negative discrimination takes away voters' fr...
...,...,...,...,...,...,...,...,...,...,...,...
2428,1.780620,0.518181,0.962062,1.407790,0,1,0,0,Democracies should ban the display of communis...,Society is ready to live with Nazi and Soviet ...,Society is not ready to live with Nazi and Sov...
2479,1.438328,0.848351,1.115165,1.629890,0,1,0,0,NATO has succeeded in Afghanistan,the taliban will likely resume their control o...,the taliban will not likely resume their contr...
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0,0,Illegal downloaders should be cut off from the...,"File-sharing will still happen, despite these ...","File-sharing will not still happen, despite th..."
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0,0,Illegal downloaders should be cut off from the...,Will file-sharing stop if downloaders are bann...,will not file-sharing stop if downloaders are...
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0,0,Illegal downloaders should be cut off from the...,Human rights are infringed if internet use is ...,Human rights are not infringed if internet use...

In [90]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).median()

0.07489685000000001

In [91]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).mean()

0.16541975482742574

In [92]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).max()

1.0653685

In [93]:
abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).min()

8.82149999999974e-06

In [94]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).median()

6.6984394499999995

In [95]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).mean()

6.3061969292425735

In [96]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).max()

18.714413999999998

In [97]:
abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).min()

0.115963

In [98]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>7)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)<0.1)]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
59,6.975863,-2.372392,1.920776,1.928768,0,1,1
84,5.189340,-5.870834,1.708071,1.780854,0,1,1
101,6.664764,-2.338005,1.957810,1.962720,0,1,0
103,-3.912886,3.581488,0.214234,0.189936,1,0,1
...,...,...,...,...,...,...,...
2342,6.852671,-2.248606,1.902466,1.947599,0,1,0
2370,6.125291,-2.037305,1.804320,1.811636,0,1,1
2418,-4.415244,3.401687,0.081197,0.004982,1,0,0
2434,-3.825589,5.084303,0.037229,0.004001,1,0,0
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [99]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>7)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)<0.1)&(df_inconsistency.predict_label==df_inconsistency.gold)]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
101,6.664764,-2.338005,1.957810,1.962720,0,1,0
103,-3.912886,3.581488,0.214234,0.189936,1,0,1
167,6.498967,-1.829042,1.894920,1.968252,0,1,0
174,-3.984031,4.041832,0.060304,0.051696,1,0,1
...,...,...,...,...,...,...,...
2285,6.448651,-2.341104,1.927012,1.955267,0,1,0
2313,-4.402775,4.329851,0.008114,0.006960,1,0,1
2315,-4.229798,4.237733,0.016681,0.012862,1,0,1
2342,6.852671,-2.248606,1.902466,1.947599,0,1,0
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [100]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<3)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>0.15)].count()

undermine_score    61
support_score      61
cp_distance        61
cop_distance       61
predict_label      61
distance_label     61
gold               61
dtype: int64

In [101]:
df_inconsistency[(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<3)&(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>0.15)&(df_inconsistency.distance_label==df_inconsistency.gold)].count()

undermine_score    35
support_score      35
cp_distance        35
cop_distance       35
predict_label      35
distance_label     35
gold               35
dtype: int64

In [102]:
#consistent failed cases

In [103]:
df_consistency[df_consistency.predict_label!=df_consistency.gold]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
46,-2.267228,5.343608,0.012838,1.899688,1,1,0
51,5.155417,-4.237434,1.868408,0.744416,0,0,1
54,3.537244,-2.157459,1.688211,0.791399,0,0,1
63,-2.482541,5.729583,0.023178,1.951421,1,1,0
74,-3.022160,2.879174,0.396503,1.347344,1,1,0
...,...,...,...,...,...,...,...
2469,-2.194105,5.495428,0.036756,1.755904,1,1,0
2474,5.292336,-6.160551,1.813913,0.410568,0,0,1
2477,-0.591194,0.761670,0.984307,1.508494,1,1,0
2496,-2.799630,5.131019,0.060273,1.893408,1,1,0
2497,4.596515,-1.639086,1.612404,1.563472,0,0,1

In [104]:
df_consistency_failed = df_consistency[df_consistency.predict_label!=df_consistency.gold]

In [105]:
cons_out_failed = df_consistency_failed.join(df_origin).drop("x",axis=1).drop("y",axis=1)

In [106]:
cons_out_failed

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,Label,claim,perspective,opposite_perspective
46,-2.267228,5.343608,0.012838,1.899688,1,1,0,0,Make all museums free of charge,State funding should be used elsewhere,State funding should not be used elsewhere
51,5.155417,-4.237434,1.868408,0.744416,0,0,1,1,Make all museums free of charge,Museums are critical to the motivations as wel...,Museums are not critical to the motivations as...
54,3.537244,-2.157459,1.688211,0.791399,0,0,1,1,Make all museums free of charge,People are more likely to attend museums if th...,People are not more likely to attend museums i...
63,-2.482541,5.729583,0.023178,1.951421,1,1,0,0,Chess must be at the Olympics,Olympic sports are suppose to be physical,Olympic sports are not suppose to be physical
74,-3.022160,2.879174,0.396503,1.347344,1,1,0,0,Federal States are better than unitary nations,Federal States often have persistent losers.,Federal States often don't have persistent los...
...,...,...,...,...,...,...,...,...,...,...,...
2469,-2.194105,5.495428,0.036756,1.755904,1,1,0,0,The outcome of the Paris Climate Conference ne...,Allowing sovereign states to set and meet thei...,Allowing sovereign states not to set and meet ...
2474,5.292336,-6.160551,1.813913,0.410568,0,0,1,1,The House of Lords should be reformed,The House of Lords does not understand the nee...,The House of Lords does understand the needs o...
2477,-0.591194,0.761670,0.984307,1.508494,1,1,0,0,The House of Lords should be reformed,an apathetic public can be the cause of reform,an apathetic public can not be the cause of re...
2496,-2.799630,5.131019,0.060273,1.893408,1,1,0,0,Winning the Champions League Is Better Than Wi...,The Premiership is the most popular and succes...,The Premiership is not the most popular and su...
2497,4.596515,-1.639086,1.612404,1.563472,0,0,1,1,Winning the Champions League Is Better Than Wi...,Winning the Champions League relies more on lu...,Winning the Champions League relies less on lu...

In [107]:
cons_out_failed.to_csv("consistency_failed_data.csv")

In [108]:
cons_out_failed.to_excel("consistency_failed_data.xlsx")

In [109]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).median()

1.278518385

In [110]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).mean()

1.102007355244737

In [111]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).max()

1.9830208523

In [112]:
abs(cons_out_failed.cp_distance-cons_out_failed.cop_distance).min()

0.0013897000000000492

In [113]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).median()

7.688840750000001

In [114]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).mean()

7.5094224646

In [115]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).max()

16.5979376

In [116]:
abs(cons_out_failed.undermine_score-cons_out_failed.support_score).min()

0.08601858999999998

In [117]:
df_consistency_correct = df_consistency[df_consistency.predict_label==df_consistency.gold]

In [118]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).median()

9.094334

In [119]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).mean()

9.707779702964732

In [120]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).max()

23.471

In [121]:
abs(df_consistency_correct.undermine_score-df_consistency_correct.support_score).min()

0.018043279999999995

In [122]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).median()

1.6273515704000001

In [123]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).mean()

1.3397642599435988

In [124]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).max()

1.9834033666000002

In [125]:
abs(df_consistency_correct.cp_distance-df_consistency_correct.cop_distance).min()

0.00021850000000001035

In [126]:
#consistent cases

In [127]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

In [128]:
df_consistency.to_csv("consistency_data.csv",index=False)

In [129]:
df_consistency.to_excel("consistency_data.xlsx",index=False)

In [130]:
#consistent cases analysis

In [131]:
abs(df_consistency.undermine_score-df_consistency.support_score).median()

8.884409999999999

In [132]:
abs(df_consistency.undermine_score-df_consistency.support_score).mean()

9.326155330841113

In [133]:
abs(df_consistency.undermine_score-df_consistency.support_score).max()

23.471

In [134]:
abs(df_consistency.undermine_score-df_consistency.support_score).min()

0.018043279999999995

In [135]:
abs(df_consistency.cp_distance-df_consistency.cop_distance).median()

1.5762243029999998

In [136]:
abs(df_consistency.cp_distance-df_consistency.cop_distance).mean()

1.298490790877556

In [137]:
abs(df_consistency.cp_distance-df_consistency.cop_distance).max()

1.9834033666000002

In [138]:
abs(df_consistency.cp_distance-df_consistency.cop_distance).min()

0.00021850000000001035

In [139]:
#inconsistent cases analysis

In [140]:
abs(df_inconsistency.undermine_score-df_inconsistency.support_score).median()

5.739623600000001

In [141]:
abs(df_inconsistency.undermine_score-df_inconsistency.support_score).mean()

5.6546098455106515

In [142]:
abs(df_inconsistency.undermine_score-df_inconsistency.support_score).max()

18.714413999999998

In [143]:
abs(df_inconsistency.undermine_score-df_inconsistency.support_score).mean()

5.6546098455106515

In [144]:
abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).median()

0.10940688000000004

In [145]:
abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).mean()

0.19837472997742606

In [146]:
abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).max()

1.0906459599999998

In [147]:
abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).min()

8.82149999999974e-06

In [148]:
# Use the "distance to median" to decide final prediction

In [149]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
59,6.975863,-2.372392,1.920776,1.928768,0,1,1
73,1.812300,-0.927047,1.096693,1.661179,0,1,1
78,2.363664,-1.478531,1.179334,1.422178,0,1,1
...,...,...,...,...,...,...,...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0

In [150]:
dwrong_lcorrect_logits_median = abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).median()
dwrong_lcorrect_logits_mean = abs(dwrong_lcorrect_out.undermine_score-dwrong_lcorrect_out.support_score).mean()

In [151]:
# dcorrect_lwrong_logits_median = abs(dcorrect_lwrong_out.undermine_score-dcorrect_lwrong_out.support_score).median()

In [152]:
# dwrong_lcorrect_distance_median = abs(dwrong_lcorrect_out.cp_distance-dwrong_lcorrect_out.cop_distance).median()

In [153]:
dcorrect_lwrong_distance_median = abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).median()
dcorrect_lwrong_distance_mean = abs(dcorrect_lwrong_out.cp_distance-dcorrect_lwrong_out.cop_distance).mean()

In [154]:
distance_to_logits_median = abs(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)-dwrong_lcorrect_logits_median)
distance_to_logits_mean = abs(abs(df_inconsistency.undermine_score-df_inconsistency.support_score)-dwrong_lcorrect_logits_mean)

In [155]:
# df_inconsistency["distance_to_logtis"] = (distance_to_logits_median-distance_to_logits_median.min())/(distance_to_logits_median.max()-distance_to_logits_median.min())

In [156]:
df_inconsistency["distance_to_logtis"] = (distance_to_logits_mean-distance_to_logits_mean.min())/(distance_to_logits_mean.max()-distance_to_logits_mean.min())

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [157]:
distance_to_distance_median = abs(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)-dcorrect_lwrong_distance_median)
distance_to_distance_mean = abs(abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)-dcorrect_lwrong_distance_mean)

In [158]:
# df_inconsistency["distance_to_distance"] = (distance_to_distance_median-distance_to_distance_median.min())/(distance_to_distance_median.max()-distance_to_distance_median.min())

In [159]:
df_inconsistency["distance_to_distance"] = (distance_to_distance_mean-distance_to_distance_mean.min())/(distance_to_distance_mean.max()-distance_to_distance_mean.min())

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [160]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.108529,0.284723
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.167804,0.151542
59,6.975863,-2.372392,1.920776,1.928768,0,1,1,0.245105,0.283707
73,1.812300,-0.927047,1.096693,1.661179,0,1,1,0.287402,0.376012
78,2.363664,-1.478531,1.179334,1.422178,0,1,1,0.198515,0.005190
...,...,...,...,...,...,...,...,...,...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0,0.030489,0.224496
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0,0.412658,0.607985
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0,0.135881,0.233051
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1,0.469226,0.164878
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0,0.061695,0.184659

In [161]:
import numpy as np

In [162]:
df_inconsistency["final_label"]=df_inconsistency.apply(lambda x: x.distance_label if x.distance_to_distance<x.distance_to_logtis else x.predict_label, axis=1)

C:\Users\arsen\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [163]:
# df_inconsistency["final_label"]=df_inconsistency.apply(lambda x: x.distance_label if x.distance_to_distance+0.01<x.distance_to_logtis else x.predict_label, axis=1)

In [164]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance,final_label
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.108529,0.284723,1.0
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.167804,0.151542,0.0
59,6.975863,-2.372392,1.920776,1.928768,0,1,1,0.245105,0.283707,0.0
73,1.812300,-0.927047,1.096693,1.661179,0,1,1,0.287402,0.376012,0.0
78,2.363664,-1.478531,1.179334,1.422178,0,1,1,0.198515,0.005190,1.0
...,...,...,...,...,...,...,...,...,...,...
2480,-3.776413,2.909049,0.075312,0.017392,1,0,0,0.030489,0.224496,1.0
2503,0.627612,-0.557652,0.694943,1.455035,0,1,0,0.412658,0.607985,0.0
2506,2.762536,-1.856774,0.735328,0.786035,0,1,0,0.135881,0.233051,0.0
2513,0.033896,-0.449516,0.755636,1.142089,0,1,1,0.469226,0.164878,1.0
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0,0.061695,0.184659,0.0

In [165]:
f1_score(df_inconsistency.gold,df_inconsistency.final_label)

0.6287262872628726

In [166]:
f1_score(df_inconsistency.gold,df_inconsistency.predict_label)

0.5696202531645569

In [167]:
f1_score(df_inconsistency.gold,df_inconsistency.distance_label)

0.49246231155778897