In [964]:
import pandas as pd

## Triplet Bert Related Eval Results

In [965]:
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

# SCAR

In [967]:
df = pd.read_csv("../stance_code/Evaluation/bert_dummy_output/distance_concat_margin1_costriplet_cos_siamese_bs24_lr2e_5_epoch15_raw_score.csv")

In [968]:
df

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

# logits evaluation results

In [970]:
f1_score(df.gold,df.predict_label)

0.8033536585365854

In [971]:
precision_score(df.gold,df.predict_label)

0.8132716049382716

In [972]:
recall_score(df.gold,df.predict_label)

0.7936746987951807

# distance evaluation results

In [974]:
f1_score(df.gold,df.distance_label)

0.7849223946784921

In [975]:
precision_score(df.gold,df.distance_label)

0.7706821480406386

In [976]:
recall_score(df.gold,df.distance_label)

0.7996987951807228

# consistent cases (logtis prediction == distance prediction)

In [978]:
df_consistency = df[df.predict_label==df.distance_label]

In [979]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

In [980]:
f1_score(df_consistency.gold,df_consistency.distance_label)

0.8353552859618716

In [981]:
precision_score(df_consistency.gold,df_consistency.distance_label)

0.8253424657534246

In [982]:
recall_score(df_consistency.gold,df_consistency.distance_label)

0.8456140350877193

# Logits experiments

In [983]:
df_logits_diff = df_consistency[abs(df_consistency.undermine_score-df_consistency.support_score)>11.7]
df_logits_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
56,-6.740227,6.935597,0.017248,1.656932,1,1,1
82,-6.699821,6.198657,0.017356,1.790910,1,1,1
176,7.776163,-5.735231,1.865803,0.175052,0,0,0
178,8.175444,-6.853647,1.905149,0.082175,0,0,0
179,7.822188,-5.983000,1.871615,0.071257,0,0,0
...,...,...,...,...,...,...,...
2516,7.405044,-6.452584,1.447262,0.201506,0,0,0
2517,6.648351,-6.019004,1.416802,0.236846,0,0,0
2518,6.778597,-5.306126,1.339745,0.412176,0,0,0
2520,7.552144,-6.467586,1.450673,0.491035,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0

In [984]:
f1_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8676470588235294

In [985]:
precision_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.9365079365079365

In [986]:
recall_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8082191780821918

# Distance experiments

In [987]:
df_distance_diff = df_consistency[abs(df_consistency.cp_distance-df_consistency.cop_distance)>1.9]
df_distance_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
14,4.973082,-5.446892,1.975014,0.038279,0,0,0
22,-2.595918,5.513531,0.011529,1.970146,1,1,1
27,-2.784658,5.825409,0.007447,1.957864,1,1,1
28,-2.574459,5.599093,0.028452,1.954338,1,1,1
...,...,...,...,...,...,...,...
2485,5.284534,-5.954888,1.962560,0.002266,0,0,0
2486,4.911831,-5.589746,1.951874,0.001502,0,0,0
2490,-2.891952,5.763986,0.001604,1.929383,1,1,1
2491,-2.285798,5.668227,0.008553,1.960932,1,1,1
2493,-2.277760,5.606550,0.010047,1.973817,1,1,1

In [988]:
f1_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9526066350710901

In [989]:
precision_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9262672811059908

In [990]:
recall_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9804878048780488

# inconsistent cases (Here represents the whole cases)

In [992]:
df_inconsistency = df

In [993]:
df_consistency = df[df.predict_label==df.distance_label]

In [994]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

# Consistent cases

In [2]:
df_consistency

NameError: name 'df_consistency' is not defined

In [1070]:
#consistent cases analysis

In [1071]:
consistent_logits_median = abs(df_consistency.undermine_score-df_consistency.support_score).median()
consistent_logits_median

8.884409999999999

In [1072]:
consistent_logits_mean = abs(df_consistency.undermine_score-df_consistency.support_score).mean()
consistent_logits_mean

9.326155330841113

In [1073]:
consistent_logits_max =abs(df_consistency.undermine_score-df_consistency.support_score).max()
consistent_logits_max

23.471

In [1074]:
consistent_logits_min = abs(df_consistency.undermine_score-df_consistency.support_score).min()
consistent_logits_min

0.018043279999999995

In [1075]:
consistent_distance_median = abs(df_consistency.cp_distance-df_consistency.cop_distance).median()
consistent_distance_median

1.5762243029999998

In [1076]:
consistent_distance_mean = abs(df_consistency.cp_distance-df_consistency.cop_distance).mean()
consistent_distance_mean

1.298490790877556

In [1077]:
consistent_distance_max = abs(df_consistency.cp_distance-df_consistency.cop_distance).max()
consistent_distance_max

1.9834033666000002

In [1078]:
consistent_distance_min = abs(df_consistency.cp_distance-df_consistency.cop_distance).min()
consistent_distance_min

0.00021850000000001035

# all cases analysis

In [1080]:
inconsistent_logits_median = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).median()
inconsistent_logits_median

8.583245699999999

In [1081]:
inconsistent_logits_mean = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).mean()
inconsistent_logits_mean

8.835066144437594

In [1082]:
inconsistent_logits_max = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).max()
inconsistent_logits_max

23.471

In [1083]:
inconsistent_logits_min = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).min()
inconsistent_logits_min

0.009783112999999996

In [1084]:
inconsistent_distance_median = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).median()
inconsistent_distance_median

1.4037365

In [1085]:
inconsistent_distance_mean = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).mean()
inconsistent_distance_mean

1.1513442817425168

In [1086]:
inconsistent_distance_max = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).max()
inconsistent_distance_max

1.9834033666000002

In [1087]:
inconsistent_distance_min = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).min()
inconsistent_distance_min

8.82149999999974e-06

In [1107]:
import flyingsquid
from numpy.random import seed, rand
import itertools
import numpy as np

In [1108]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003593
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,0.464116,0.968960
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002980
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060214
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780935
...,...,...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.157009,0.066080
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0,0.521099,0.615120
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1,0.228294,0.428487
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1,0.264196,0.447891
2526,0.692743,0.942525,0.609729,0.659963,1,1,1,0.010230,0.025323

In [1109]:
df_inconsistency[abs(df_inconsistency.undermine_score-df_inconsistency.support_score)<9.7]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003593
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002980
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060214
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780935
5,-2.957279,5.612340,0.010343,1.754936,1,1,1,0.364850,0.879595
...,...,...,...,...,...,...,...,...,...
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0,0.301044,0.046134
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.157009,0.066080
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1,0.228294,0.428487
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1,0.264196,0.447891
2526,0.692743,0.942525,0.609729,0.659963,1,1,1,0.010230,0.025323

In [1110]:
df_inconsistency["snorkel_logits_17"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_17==0 else 1, axis=1)
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<0.1  else x.snorkel_logits_17, axis=1)

In [1111]:
df_inconsistency["snorkel_logits_37"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_37==0 else 1, axis=1)
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<3.7  else x.snorkel_logits_37, axis=1)

In [1112]:
df_inconsistency["snorkel_logits_57"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_57==0 else 1, axis=1)
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<8.7  else x.snorkel_logits_57, axis=1)

In [1113]:
df_inconsistency["snorkel_logits_77"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_77==0 else 1, axis=1)
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<9.8  else x.snorkel_logits_77, axis=1)

In [1114]:
df_inconsistency["snorkel_logits_97"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_97==0 else 1, axis=1)
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<12.7  else x.snorkel_logits_97, axis=1)

In [1115]:
df_inconsistency["snorkel_distance_01"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_01==0 else 1, axis=1)
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.1  else x.snorkel_distance_01, axis=1)

In [1116]:
df_inconsistency["snorkel_distance_03"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_03==0 else 1, axis=1)
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.5  else x.snorkel_distance_03, axis=1)

In [1117]:
df_inconsistency["snorkel_distance_05"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_05==0 else 1, axis=1)
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.1  else x.snorkel_distance_05, axis=1)

In [1118]:
df_inconsistency["snorkel_distance_07"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_07==0 else 1, axis=1)
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.6  else x.snorkel_distance_07, axis=1)

In [1119]:
df_inconsistency["snorkel_distance_09"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_09==0 else 1, axis=1)
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.9  else x.snorkel_distance_09, axis=1)

In [1120]:
df_inconsistency["snorkel_label"]=df_inconsistency.gold
df_inconsistency.snorkel_label = df_inconsistency.apply(lambda x: -1 if x.snorkel_label==0 else 1, axis=1)

In [1121]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09,snorkel_label
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003593,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,0.464116,0.968960,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002980,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060214,1.0,1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780935,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.157009,0.066080,-1.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,-1
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0,0.521099,0.615120,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,0.0,0.0,-1
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1,0.228294,0.428487,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1,0.264196,0.447891,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1,0.010230,0.025323,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [1122]:
df_inconsistency.iloc[:,-11:-1]

,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2522,-1.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
2523,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,0.0,0.0
2524,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2525,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2526,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1123]:
df_inconsistency.iloc[:,-11:-1].values

array([[ 1.,  1.,  0., ...,  0.,  0.,  0.],
       [-1., -1., -1., ..., -1., -1., -1.],
       [ 1.,  1.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 1.,  1.,  0., ...,  0.,  0.,  0.],
       [ 1.,  1.,  0., ...,  0.,  0.,  0.],
       [ 1.,  0.,  0., ...,  0.,  0.,  0.]])

In [1124]:
df_inconsistency.snorkel_label.values

array([ 1, -1,  1, ...,  1,  1,  1], dtype=int64)

In [1125]:
L_dev = df_inconsistency.iloc[:,-11:-1].values

In [1126]:
Y_dev = df_inconsistency.snorkel_label.values

In [1127]:
# df_L_train = pd.read_csv("../stance_code_local/finetuned_L_train_entiretest.csv")
df_L_train = df_inconsistency

In [1128]:
df_L_train.iloc[:,-11:-1]

,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2523,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,0.0,0.0,0.0
2524,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2525,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2526,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1129]:
df_L_train.iloc[:,-11:-1].values

array([[ 1.,  1.,  0., ...,  0.,  0.,  0.],
       [-1., -1., -1., ..., -1., -1., -1.],
       [ 1.,  1.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 1.,  1.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [1130]:
L_train = df_L_train.iloc[:,-11:-1].values

In [1131]:
from flyingsquid.label_model import LabelModel

In [1132]:
m = 10
# m = 9

label_model = LabelModel(m)

In [1133]:
label_model.fit(L_train)

In [1134]:
preds = label_model.predict(L_dev).reshape(Y_dev.shape)
accuracy = np.sum(preds == Y_dev) / Y_dev.shape[0]

# print('Label model accuracy: {}%'.format(int(100 * accuracy)))
f1_score(Y_dev,preds)

0.8051359516616314

In [621]:
majority_vote_preds = np.array([1 if pred > 0 else -1 for pred in np.sum(L_dev, axis=1)])
majority_vote_accuracy = np.sum(majority_vote_preds == Y_dev) / Y_dev.shape[0]

# print('Majority vote accuracy: {}%'.format(int(100 * majority_vote_accuracy)))
f1_score(Y_dev,majority_vote_preds)

0.8015267175572519

In [443]:
df_inconsistency["snorkel_predict"] = preds
df_inconsistency.snorkel_predict=df_inconsistency.apply(lambda x: 0 if x.snorkel_predict==-1 else 1, axis=1)

In [444]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,distance_to_logtis,distance_to_distance,snorkel_logits_17,...,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09,snorkel_label,snorkel_predict
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,0.325812,0.003593,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,0.464116,0.968960,-1.0,...,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,0.304349,0.002980,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.179592,0.060214,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,0.273276,0.780935,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.157009,0.066080,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0,0.521099,0.615120,-1.0,...,-1.0,-1.0,0.0,-1.0,-1.0,0.0,0.0,0.0,-1,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1,0.228294,0.428487,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1,0.264196,0.447891,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1,0.010230,0.025323,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0

In [445]:
f1_score(df_inconsistency.gold,df_inconsistency.snorkel_predict)

0.7981580966999233

In [446]:
precision_score(df_inconsistency.gold,df_inconsistency.snorkel_predict)

0.8137715179968701

In [447]:
recall_score(df_inconsistency.gold,df_inconsistency.snorkel_predict)

0.7831325301204819

In [448]:
# df_inconsistency.to_csv("./paper_out/SCAR37578798127041141619_eval_result.csv",index=False)