In [2872]:
import pandas as pd

## Triplet Bert Related Eval Results

In [2873]:
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

# SCAR

In [2874]:
df = pd.read_csv("../stance_code/Evaluation/paper_output/ori_model_with_naive_concat_margin1_costriplet_cos_siamese_bs24_lr2e_5_epoch15_raw_score.csv")

In [2875]:
df

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

# logits evaluation results

In [2876]:
f1_score(df.gold,df.predict_label)

0.8045267489711935

In [2877]:
precision_score(df.gold,df.predict_label)

0.8117647058823529

In [2878]:
recall_score(df.gold,df.predict_label)

0.7974167233174712

# distance evaluation results

In [2879]:
f1_score(df.gold,df.distance_label)

0.7819796119697469

In [2880]:
precision_score(df.gold,df.distance_label)

0.7573248407643313

In [2881]:
recall_score(df.gold,df.distance_label)

0.8082936777702243

# consistent cases (logtis prediction == distance prediction)

In [2882]:
df_consistency = df[df.predict_label==df.distance_label]

In [2883]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

In [2884]:
f1_score(df_consistency.gold,df_consistency.distance_label)

0.8361669242658424

In [2885]:
precision_score(df_consistency.gold,df_consistency.distance_label)

0.8228136882129278

In [2886]:
recall_score(df_consistency.gold,df_consistency.distance_label)

0.8499607227022781

# Logits experiments of consistent cases

In [2887]:
df_logits_diff = df_consistency[abs(df_consistency.undermine_score-df_consistency.support_score)>11.7]
df_logits_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
58,-6.740227,6.935597,0.017248,1.656932,1,1,1
87,-6.699821,6.198657,0.017356,1.790910,1,1,1
185,7.776163,-5.735231,1.865803,0.175052,0,0,0
187,8.175444,-6.853647,1.905149,0.082175,0,0,0
188,7.822188,-5.983000,1.871615,0.071257,0,0,0
...,...,...,...,...,...,...,...
2761,7.405044,-6.452584,1.447262,0.201506,0,0,0
2762,6.648351,-6.019004,1.416802,0.236846,0,0,0
2763,6.778597,-5.306126,1.339745,0.412176,0,0,0
2766,7.552144,-6.467586,1.450673,0.491035,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0

In [2888]:
f1_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8530465949820788

In [2889]:
precision_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.937007874015748

In [2890]:
recall_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.7828947368421053

# Distance experiments of consistent cases

In [2891]:
df_distance_diff = df_consistency[abs(df_consistency.cp_distance-df_consistency.cop_distance)>1.9]
df_distance_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
14,4.973082,-5.446892,1.975014,0.038279,0,0,0
22,-2.595918,5.513531,0.011529,1.970146,1,1,1
27,-2.784658,5.825409,0.007447,1.957864,1,1,1
28,-2.574459,5.599093,0.028452,1.954338,1,1,1
...,...,...,...,...,...,...,...
2729,5.284534,-5.954888,1.962560,0.002266,0,0,0
2730,4.911831,-5.589746,1.951874,0.001502,0,0,0
2734,-2.891952,5.763986,0.001604,1.929383,1,1,1
2735,-2.285798,5.668227,0.008553,1.960932,1,1,1
2737,-2.277760,5.606550,0.010047,1.973817,1,1,1

In [2892]:
f1_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9505376344086022

In [2893]:
precision_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9208333333333333

In [2894]:
recall_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9822222222222222

# the whole cases

In [2895]:
df_inconsistency = df

In [2896]:
df_consistency = df[df.predict_label==df.distance_label]

In [2897]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

# Consistent cases

In [2898]:
#consistent cases analysis

In [2899]:
consistent_logits_median = abs(df_consistency.undermine_score-df_consistency.support_score).median()
consistent_logits_median

8.793939600000002

In [2900]:
consistent_logits_mean = abs(df_consistency.undermine_score-df_consistency.support_score).mean()
consistent_logits_mean

9.215984594188107

In [2901]:
consistent_logits_max =abs(df_consistency.undermine_score-df_consistency.support_score).max()
consistent_logits_max

23.471

In [2902]:
consistent_logits_min = abs(df_consistency.undermine_score-df_consistency.support_score).min()
consistent_logits_min

0.018043279999999995

In [2903]:
consistent_distance_median = abs(df_consistency.cp_distance-df_consistency.cop_distance).median()
consistent_distance_median

1.5378068550000001

In [2904]:
consistent_distance_mean = abs(df_consistency.cp_distance-df_consistency.cop_distance).mean()
consistent_distance_mean

1.2786064733573577

In [2905]:
consistent_distance_max = abs(df_consistency.cp_distance-df_consistency.cop_distance).max()
consistent_distance_max

1.9834033666000002

In [2906]:
consistent_distance_min = abs(df_consistency.cp_distance-df_consistency.cop_distance).min()
consistent_distance_min

0.00021850000000001035

# all cases analysis

In [2907]:
inconsistent_logits_median = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).median()
inconsistent_logits_median

8.5231578

In [2908]:
inconsistent_logits_mean = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).mean()
inconsistent_logits_mean

8.734360400601442

In [2909]:
inconsistent_logits_max = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).max()
inconsistent_logits_max

23.471

In [2910]:
inconsistent_logits_min = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).min()
inconsistent_logits_min

0.009783112999999996

In [2911]:
inconsistent_distance_median = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).median()
inconsistent_distance_median

1.32378891

In [2912]:
inconsistent_distance_mean = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).mean()
inconsistent_distance_mean

1.1291641918884745

In [2913]:
inconsistent_distance_max = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).max()
inconsistent_distance_max

1.9834033666000002

In [2914]:
inconsistent_distance_min = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).min()
inconsistent_distance_min

8.82149999999974e-06

In [2915]:
import flyingsquid
from numpy.random import seed, rand
import itertools
import numpy as np

In [2916]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1

In [2917]:
df_inconsistency[abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>5.5]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
...,...,...,...,...,...,...,...
2765,6.098404,-4.817781,1.277633,0.138542,0,0,0
2766,7.552144,-6.467586,1.450673,0.491035,0,0,0
2767,3.317570,-3.755074,1.281456,1.372968,0,1,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1

In [2918]:
df_inconsistency[abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>1.6]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
8,-2.915035,5.855358,0.004241,1.868177,1,1,1
9,-3.204367,4.770818,0.006627,1.694313,1,1,1
...,...,...,...,...,...,...,...
2740,-2.799630,5.131019,0.060273,1.893408,1,1,0
2744,-3.813086,4.495462,0.271768,1.895788,1,1,1
2745,-4.395286,5.101991,0.220880,1.886694,1,1,1
2749,11.233323,-9.810861,1.917536,0.242908,0,0,0
2751,10.904087,-9.416132,1.907659,0.099717,0,0,0

In [2919]:
df_inconsistency["snorkel_logits_17"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_17==0 else 1, axis=1)
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<5 else x.snorkel_logits_17, axis=1)

In [2920]:
df_inconsistency["snorkel_logits_37"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_37==0 else 1, axis=1)
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<5.5  else x.snorkel_logits_37, axis=1)

In [2921]:
df_inconsistency["snorkel_logits_57"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_57==0 else 1, axis=1)
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<8.5 else x.snorkel_logits_57, axis=1)

In [2922]:
df_inconsistency["snorkel_logits_77"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_77==0 else 1, axis=1)
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<11  else x.snorkel_logits_77, axis=1)

In [2923]:
df_inconsistency["snorkel_logits_97"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_97==0 else 1, axis=1)
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<13  else x.snorkel_logits_97, axis=1)

In [2924]:
df_inconsistency["snorkel_distance_01"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_01==0 else 1, axis=1)
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.01  else x.snorkel_distance_01, axis=1)

In [2925]:
df_inconsistency["snorkel_distance_03"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_03==0 else 1, axis=1)
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.2  else x.snorkel_distance_03, axis=1)

In [2926]:
df_inconsistency["snorkel_distance_05"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_05==0 else 1, axis=1)
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.3 else x.snorkel_distance_05, axis=1)

In [2927]:
df_inconsistency["snorkel_distance_07"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_07==0 else 1, axis=1)
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.5  else x.snorkel_distance_07, axis=1)

In [2928]:
df_inconsistency["snorkel_distance_09"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_09==0 else 1, axis=1)
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.9  else x.snorkel_distance_09, axis=1)

In [2929]:
df_inconsistency["snorkel_label"]=df_inconsistency.gold
df_inconsistency.snorkel_label = df_inconsistency.apply(lambda x: -1 if x.snorkel_label==0 else 1, axis=1)

In [2930]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09,snorkel_label
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,-1.0,-1.0,-1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,-1
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,0.0,0.0,0.0,-1
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1

In [2931]:
df_inconsistency.iloc[:,-11:-1]

,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.0,-1.0,-1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2768,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
2769,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,0.0,0.0,0.0
2770,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2771,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2772,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [2932]:
df_inconsistency.iloc[:,-11:-1].values

array([[ 1.,  1.,  0., ...,  0.,  0.,  0.],
       [-1., -1., -1., ..., -1., -1., -1.],
       [ 1.,  1.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 1.,  1.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [2933]:
df_inconsistency.snorkel_label.values

array([ 1, -1,  1, ...,  1,  1,  1], dtype=int64)

In [2934]:
L_dev = df_inconsistency.iloc[:,-11:-1].values

In [2935]:
Y_dev = df_inconsistency.snorkel_label.values

In [2936]:
# df_L_train = pd.read_csv("../stance_code_local/finetuned_L_train_entiretest.csv")
df_L_train = df_inconsistency

In [2937]:
df_L_train.iloc[:,-11:-1]

,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.0,-1.0,-1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2768,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
2769,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,0.0,0.0,0.0
2770,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2771,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2772,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [2938]:
df_L_train.iloc[:,-11:-1].values

array([[ 1.,  1.,  0., ...,  0.,  0.,  0.],
       [-1., -1., -1., ..., -1., -1., -1.],
       [ 1.,  1.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 1.,  1.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [2939]:
L_train = df_L_train.iloc[:,-11:-1].values

In [2940]:
from flyingsquid.label_model import LabelModel

In [2941]:
m = 10
# m = 9

label_model = LabelModel(m)

In [2942]:
label_model.fit(L_train)

In [2943]:
preds = label_model.predict(L_dev).reshape(Y_dev.shape)
accuracy = np.sum(preds == Y_dev) / Y_dev.shape[0]

# print('Label model accuracy: {}%'.format(int(100 * accuracy)))
f1_score(Y_dev,preds)

0.8083670715249662

In [2944]:
majority_vote_preds = np.array([1 if pred > 0 else -1 for pred in np.sum(L_dev, axis=1)])
majority_vote_accuracy = np.sum(majority_vote_preds == Y_dev) / Y_dev.shape[0]

# print('Majority vote accuracy: {}%'.format(int(100 * majority_vote_accuracy)))
f1_score(Y_dev,majority_vote_preds)

0.8083670715249662

In [2945]:
df_inconsistency["snorkel_predict"] = preds
df_inconsistency.snorkel_predict=df_inconsistency.apply(lambda x: 0 if x.snorkel_predict==-1 else 1, axis=1)

In [2946]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09,snorkel_label,snorkel_predict
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,-1.0,-1.0,-1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,1,0
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2768,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,-1,0
2769,6.712749,-5.522651,1.332932,0.112898,0,0,0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,0.0,0.0,0.0,-1,0
2770,-2.778294,2.587539,0.518143,1.368011,1,1,1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1,1
2771,-3.157147,3.050995,0.483791,1.372143,1,1,1,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1,1
2772,0.692743,0.942525,0.609729,0.659963,1,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1

In [2947]:
f1_score(df_inconsistency.gold,df_inconsistency.snorkel_predict)

0.8083670715249662

In [2948]:
precision_score(df_inconsistency.gold,df_inconsistency.snorkel_predict)

0.8024112525117214

In [2949]:
recall_score(df_inconsistency.gold,df_inconsistency.snorkel_predict)

0.8144119646498981

In [2950]:
# df_inconsistency.to_csv("./paper_out/SCAR505586111300102111519_eval_result.csv",index=False)